{% extends "base_dasboard.html" %}
    <title>{% block title %}Select Your Profession{% endblock %}</title>
{% block body_content %}

    {%  include 'base_dashboard_core.html' %}

<div class="container">
    <div class="row">
            {% if user.is_authenticated %}

                <div class="col-md-12">


            <form action="" id="skills_form">

            {% csrf_token %}
            {% for cat_name in categories%}
                    <div class="col-md-3 c0_cat main_box">
                        <a class="c0_cat_main " href="javascript:;" value="{{cat_name.id}}">

                            <img src='{{ MEDIA_URL }}categories/{{ cat_name.file_name }}'>

                            {{cat_name}}
                            <input type="hidden" class="category_id_value" value="{{cat_name.id}}" name="category_id"/>
                        </a>
                        <div class="s0_skill{{cat_name.id}}">
                        </div>
                    </div>
            {% endfor %}
                <input type="submit" value="Submit Value"/>
            </form>
                </div>
            {% endif %}


    </div>
</div>


<a href="/accounts/logout">Log out</a>
{% endblock %}
