{% extends "base_dasboard.html" %}
    <title>{% block title %}Select Your Profession{% endblock %}</title>
{% block body_content %}
    {% include 'base_dashboard_core.html' %}

    <section class="create_profile">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        Create Your Profile
                    </h3>
                    <p>
                      Impress prospective clients and land your first job with a well-done freelancer profile.
                        It's like a personal resume, business card, and marketing brochure all rolled up in one.

                    </p>
                </div>
            </div>
        </div>
    </section>


    <section class="steps">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                     <div class="progress_line">

                    </div>
                        <div class="col-md-4">
                            <div  class="colSteps step1">Your Personal Information</div>
                        </div>
                        <div class="col-md-4">
                            <div  class="colSteps  step2">Choose Way Of CV</div>
                        </div>
                        <div class="col-md-4">
                            <div class="colSteps color_step step3">Education &amp; Experience</div>
                        </div>

                </div>
            </div>
        </div>
    </section>
<div class="container">
    <div class="row">
        <div class="col-md-12">
                    <h3>
                        Employment History
                    </h3>
                    <p>
                        Impress prospective clients and land your first job with a well-done freelancer profile.
                        It's like a personal resume, business card, and marketing brochure all rolled up in one.

                    </p>

            {% if user.is_authenticated %}

            <form  action="" id="add_bio_employment">
                {% csrf_token %}
                <div class="whl">


                        <fieldset>
                            <div class="col-md-3">
                                Company Name and Location
                            </div>
                            <div class="col-md-9">
                                <div class="col-md-4">
                                    {{cv_employ.company_name}}
                                </div>
                                <div class="col-md-4">
                                    {{cv_employ.company_location}}
                                </div>
                            </div>
                        </fieldset>


                        <fieldset>
                            <div class="col-md-3">
                                Company Work Title and Role
                            </div>
                            <div class="col-md-9">
                                 <div class="col-md-4">
                                    {{cv_employ.company_worktitle}}
                                </div>
                                <div class="col-md-4">
                                    {{cv_employ.company_role}}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="col-md-3">
                                Date From Which Worked
                            </div>
                            <div class="col-md-9">
                                <div class="col-md-4">
                                    {{cv_employ.company_from}}
                                </div>
                                <div class="col-md-4">
                                    {{cv_employ.company_to}}
                                </div>
                            </div>
                        </fieldset>
                    </div>
    {#                <!--{{cv_employ.company_description}}-->#}
                    {{cv_employ.company_count}}
                    <div class="more_form">

                    </div>
                    <fieldset>
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-9">
                            <div class="col-md-4">
                                <input type="submit" id="submit-bio" value="Enter Information"/>
                                </div>
                            <div class="col-md-4">
                                <div class="add_form">
                                    <!--{% csrf_token %}-->
                                    <a href="javascript:;" class="add_employment">add more</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>

            </form>


            {% endif %}

        </div>
    </div>
</div>


<a href="/accounts/logout">Log out</a>
{% endblock %}

{% block custom_scripts %}
{% endblock %}