{% extends "base.html" %}
    <title>{% block title %}Select Your Profession{% endblock %}</title>
{% block body_content %}

<div class="container">
    <div class="row">
            {% if user.is_authenticated %}
            <form action="" id="skills_form">

            {% csrf_token %}
            {% for cat_name in categories%}
                    <div class="col-md-3" class="c0_cat">
                        <a class="c0_cat_main" href="javascript:;" value="{{cat_name.id}}">
                            {{cat_name}}
                            <input type="hidden" class="category_id_value" value="{{cat_name.id}}" name="category_id"/>
                        </a>
                        <div class="s0_skill{{cat_name.id}}">
                        </div>
                    </div>
            {% endfor %}
                <input type="submit" value="Submit Value"/>
            </form>
            {% endif %}


    </div>
</div>


<a href="/accounts/logout">Log out</a>
{% endblock %}
