.transition{
  transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
}



body{
  background: #ddd6ff !important;
  margin:0 auto;
    font-family: 'proxima_nova_regular', arial, sans-serif !important;

}
.top_layout
{
  //background: linear-gradient(45deg,#2a1647,#2f255f);
  background: linear-gradient(45deg, #7B6898, #584F84);
  height:220px;
  .logo{
    padding-top:20px;
    font-family: 'proxima_nova_scosf_condensSBd', arial, sans-serif !important;
    color:#fff;
    }
}
.top_border{
    height: 2px;
    background-color: #5584ff;
    background-image: linear-gradient(to right,#7EA2FF,#a15beb,#e22fff,#ffd49b,#ffd49b);
    background-image: -webkit-linear-gradient(to right,#7EA2FF,#a15beb,#e22fff,#ffd49b,#ffd49b);

}

.header_nav{
    padding-top:10px;
    float:right;

    ul{
      list-style:none;

      li{
        display: inline-block;
        padding:10px 20px;
        color:#fff;
        a{
          text-decoration: none;
          color:#fff;
          .transition;
        }
        a:hover{
          color:#fafafa;

        }
      }
      .register, .login
      {


        border-radius:2px;
        padding:10px 20px;
      }
      .register:hover{
        background: #7588c5;

      }
      .register{
         background:#7f94d6;
        border:1px solid #7b8ecf;
      }
      .login{
        border:1px solid #e5e5e5 !important;
      }
      .login:hover{
         background:#7f94d6;
         border:1px solid #7b8ecf !important;
      }
    }
  }

.nav_intro{
  h2{
    margin-top: 0px;
    padding-top:5px;
    font-size:38px;
    color:#fff;
    text-align: center;
  }
  h5{
    font-size:20px;
    color:#fff;
    text-align: center;
  }
}


//User registration form

.register_form, .login_f0{
  margin-bottom: 100px;
  margin-top:-30px;
  background: #fbfbfb;
  border-top:6px solid #7f94d6;
  label{
    margin-top:10px;
    padding:10px 0;
    font-family: 'proxima_nova_regular', arial, sans-serif !important;

  }
  .success, .error_message{
    text-align: center;
    padding:5px 10px;
    color:#fff;
    font-weight:normal;
    border-radius:8px;
  }
  .success{
        background: #67c565;
  }
  .error_message{
    background-color: #ff4d66;
  }
  input{
        background: #fdfdfd;
          font-family: 'proxima_nova_regular', arial, sans-serif !important;
          border-radius:0 !important;
    margin:7px 0;
  }
  input:focus{
    border-color:#7f94d6;
  }
  .select_user_profile select{
    width:100%;
    background: #fdfdfd;
    padding:5px 5px;
    margin-top: 5px;
  }
  .select_user_profile select:focus{
        border-color:#7f94d6;
  }
  .r0_acct input
  {
    .transition;
    width:100%;
    background:#7f94d6;
    color:#fff;
    border-radius:2px;
    margin-top:10px;
    //margin-bottom: 20px;
  }
  .r0_acct input:hover{
     background:#7588c5;
     border:1px solid #7b8ecf !important;
  }
}
.inner_links{

  font-weight:normal;
  font-size:14px;
  .transition;
  margin-top: 0px;
}

.inner_links.right{
  float:right;
}
.inner_a{
    text-decoration: none !important;
    .transition;

}
.error_message, .success
{
  display: none;
}


//Dashboard section up here


.dashboard_s0{
  height: 51px;
  background: #553771;
  .logo{
    color:#fff;
  }
}

.dashboard_s0_nav{
  float:right;
  ul{
    list-style:none;
    margin-left:-40px;
    li{
      display: inline-block;
      a{
        text-decoration: none;
        color:#fff;
      }
    }
  }

}

.user_profile_detail{
  .transition;
  color:#fff;
  background: #553771;
  min-height: 50px;

  display: block;
  float:right;
  a{
    .transition;
    //float:right;
    display: block;
    color:#fff;
    //min-height: 60px;
    text-decoration: none !important;
    padding-top:10px;
    font-size: 15px;
    padding-left:12px;
    i{
      padding-right:20px;
    }

  }
  //a:hover{
  //  color:#fafafa;
  //}
}
.user_profile_detail:hover, .active_dashboard{
  //background: #342449;
}

.right_sec
{
  float:right !important;
}

.user_profile_icon{
  //height:60px;
  width:60px;
  border-radius:60px;
  background:url('../img/profile.png') no-repeat;
}

.dashboard_s0_nav_main{
  list-style: none;
  margin-left:-40px;
  float:right;
    li{
      margin-top:15px;
      padding-right:15px;
      padding-left:15px;
      border-left:1px solid #a56fcc;
      display: inline-block;
      a{
        text-decoration: none;
        color:#fff;
      }
    }
  li:last-child{
    padding-right:0;
  }
  li:first-child{
    border-left: 0;
  }
}



.dashboard_s0_nav_child{
  margin-top:15px;
  //display: none;
  position:absolute;
  width:100%;
  background: #2f2244;
  list-style: none;
    //margin-left:-20px;
        margin-left:-50px;

  ul{
      margin-left:-40px;

    list-style: none;
  }
  a{
    display: block;
    width: 100%;
  }
}


//Confirm Email page stylign

section.c_email{

  background: #7859af;
  min-height: 150px;
  //border-bottom: 1px solid #e6e6e6;
}

section.core_content{
  .email_box{
    margin-top:-110px;
    padding:20px;

    background:#fff;
    border-radius:2px;
    border:1px solid #6c4c97;
  }
  h3{
    //padding:15px 0;
  }
  padding:10px 0 ;
}

.c0_email_btn
{
  .transition;
    width:100%;
    background:#7f94d6;
    color:#fff;
    border-radius:2px;
    padding:7px 10px;
    //margin-top:10px;
}
.status_msg{
  padding:6px 10px;
  border-radius: 2px;
  border:1px solid #54a854;
  color:#fff;
  background: #69d169;
}


//User profile creation dahsboard
.header_top_menu{
  background:#fff;
  border-bottom:1px solid #f8f4ff;
}

.nav_head_top{
  padding-bottom: 0;
  margin-bottom: 0;
  list-style: none;
  margin-left: -40px;
  li{
    display: inline-block;
    //width:20%;
    a{
      .transition;
      text-decoration: none;
      color:#000;
      display: inline-block;
      padding:20px 30px;


    }
    a:hover
    {
      background: #f4f4f4;
      color:#555;
    }
  }
}


.status_msg{
  display: none;
}
.main_box{
  background:#fff;
  border:1px solid #ccc;
  padding:20px 0;
  img{

    display: block;
    padding:10px 0;
    margin:0 auto;
    text-align: center;
  }
  a{
    text-decoration: none;
    color:#242424;
    font-size:20px;
    //font-family: '';
    text-align: center;
  }
}

//User biography page/


.create_profile{
  padding-bottom: 30px;
  padding-top:10px;
  
}
.progress_line{
    position: relative;
    background: #e6e6e3;
    height: 4px;
    width: 100%;
    margin-bottom: 22px;

}

.steps{
  padding-bottom: 20px;
   .colSteps{
    margin-left:-15px;
    color:#242424;
    text-decoration: none;
    font-size: 20px;
     cursor:default;
  }
  .colSteps:before{
    background:#fafafa;
    border:2px solid #ebe8f2;
    top:-45px;
    width:40px;
    height: 40px;
    border-radius:40px;
    //content: 'dasdas';
    position: absolute;
  }

  .color_step:before{
    border:2px solid #4e9b4e;
    background:#54a854;
    color:#fff !important;
  }

  .step1:before{
    color:#000;
    content: '1';
    text-align: center;
    padding-top:5px;
    horiz-align: center;
  }
  .colSteps:hover{
    text-decoration: none;
    color:#242424;
  }
  .colSteps:nth-child(even)
  {
    text-align: center !important;
  }
  .step2{
    text-align: center;
  }
  .step2:before{
    text-align: center;
    content: '2';
    padding-top:5px;
    margin:0 auto;
    margin-left:-20px;
    left:50%;
  }
  .step3{
    text-align: right;
  }
  .step3:before{
    text-align: center;
    content: '3';
    padding-top:5px;
    margin:0 auto;
    margin-left:60px;
    left: auto;
    right: 0;
    margin-left: 0;
  }

}

.bio_description
{
  img{
    display: block;
    margin:0 auto;
    height: 70px;
    width: 70px;
  }
  p{
    //float:right;
    font-size:18px;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .porto{
    text-align: center;
  }
}

#bio_form{
  input{
    background: #fdfdfd;
    width:70%;
    font-family: 'proxima_nova_regular', arial, sans-serif !important;
    margin:7px 0;
    border-radius:0 !important;
  }
  input:focus{
    border-color:#7f94d6;
  }

  textarea{
    background: #fdfdfd;
          font-family: 'proxima_nova_regular', arial, sans-serif !important;
          border-radius:0 !important;
    width:70%;
    max-width:70%;
    height:120px;
    max-height:300px;
  }
  textarea:focus
  {
        border-color:#7f94d6;

  }
  select{
    width:70%;
    background: #fdfdfd;
    padding:5px 5px;
    margin-top: 5px;
  }
  select:focus{
        border-color:#7f94d6;
  }
}

//selection of the cv section

.selection_box{

  margin:25px 0;
}

.sel_img{
  padding:20px 0;
  border:2px solid #7F94D6;
  img
  {
    display: block;
    margin:0 auto;
    padding-bottom: 10px;
    text-align: center;
  }
  a{
    .transition;
    text-decoration: none !important;
    color:#000;
    font-size:22px;
    text-align: center !important;

  }
}

.cv_text{
  .transition;
  text-align: center !important;
}
.cv_text:hover{

  color:#242424;
}

#user_decision{
  padding: 10px 0;
  input[type=submit]
  {
    text-align:center;
    display: block;
    margin:0 auto;
    margin-top: 30px;
    padding:15px 20px !important;
    font-size:17px;
    color:#fff;
    background:#7F94D6;
    border:1px solid #7082bc;
    border:none;
  }
}

#myModal{
  border-radius:2px !important;
}

.cv_upload_btn{
  input[type=file], input
  {
    color: transparent !important;
    text-align:center;
    display: block;
    margin:0 auto;
    margin-top: 30px;
    padding:15px 20px !important;
    font-size:17px;
    color:#fff;
    background:#54a854;
    border:1px solid #4a944a;
    border:none;
  }
}
#add_bio_employment{
 input{
        background: #fdfdfd;
          font-family: 'proxima_nova_regular', arial, sans-serif !important;
          border-radius:0 !important;
    margin:7px 0;
  }
  input:focus{
    border-color:#7f94d6;
  }
}





//working on the top navigation bar

.user_initials{
  //margin-top: 10px !important;
  border-radius:20px;
  padding:10px 10px;
  background: #9d79cc;
}

