div.skill_btn label input {
   margin-right:100px;
}
/*body {*/
    /*font-family:sans-serif;*/
/*}*/

.skill_btn {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

.skill_btn:hover {
    background:red;
}

.skill_btn label {
    float:left;
    width:4.0em;
}

.skill_btn label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

.skill_btn label input {
    position:absolute;
    top:-20px;
}

.skill_btn input:checked + span {
    background-color:#911;
    color:#fff;
}