@import "buttons.css";
@import url('profile.css');
@import url('fonts.css');
@import url('accounts.css');
.clearfix {
  clear: both;
}
.mt_10 {
  margin: 10px 0;
}
.normal_btn {
  padding: 6px 20px;
}
.medium_btn {
  padding: 10px 25px;
}
.large_btn {
  padding: 10px 30px;
}
.primary_btn_color {
  background: #935aeb;
}
.primary_btn_color_hover {
  background: #8677eb;
}
.shadow {
  -webkit-box-shadow: 1px 1px 2px 2px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 1px 2px 2px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 2px 2px #ccc;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.transition {
  transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
}
body {
  background: #f2eeff !important;
  font-family: 'proxima_nova_regular', arial, sans-serif !important;
  margin: 0 auto;
}
footer {
  background: #f8f4ff;
  padding: 25px 0;
  border-top: 2px solid #242424;
}
footer h4 {
  color: #7f94d6;
}
footer .footer_nav {
  list-style: none;
  margin-left: -40px;
}
footer .footer_nav li a {
  line-height: 24px;
  transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  color: #242424;
  text-decoration: none;
}
footer .footer_nav li a:hover {
  color: #959595;
}
#has_user {
  padding: 20px 0;
  margin-top: 10px;
}
#has_user .box_has_user {
  padding: 0px 0 15px;
  background: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-box-shadow: 1px 1px 2px 2px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 1px 2px 2px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 2px 2px #ccc;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
#has_user .box_has_user h2 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 20px;
  padding-top: 15px;
}
#has_user .box_has_user h2.h0_child {
  border-top: 4px solid #ebcb09;
}
#has_user .box_has_user h2.h1_child {
  border-top: 4px solid #839891;
}
#has_user .box_has_user h2.h2_child {
  border-top: 4px solid #8677eb;
}
#has_user .box_has_user h2.h3_child {
  border-top: 4px solid #935aeb;
}
#has_user .box_has_user h4 {
  font-size: 24px;
  text-align: center;
  color: #242424;
}
#jobs {
  padding: 20px 0;
}
#jobs .job_view {
  -webkit-box-shadow: 1px 1px 2px 2px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 1px 2px 2px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 2px 2px #ccc;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  margin: 0;
  padding: 0;
  background: #fff;
}
#jobs .job_view .company_heading {
  background: #f9f9f9;
}
#jobs .job_view h3 {
  padding: 10px;
  display: block;
  background: #f9f9f9;
  margin: 0;
  padding-left: 30px;
  color: #37264c;
  border-bottom: 1px solid #f4f4f4;
}
#jobs .listed_job {
  padding: 10px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}
#jobs .listed_job h4 {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  margin-top: 10px;
  color: #979797;
}
#jobs .listed_job h4 span {
  margin-left: 15px;
  font-size: 13px;
  padding: 4px 15px;
  background: #f2f2f2;
  color: #555;
  border: 1px solid #e2e2e2;
  border-radius: 30px;
}
#jobs .listed_job h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 22px !important;
}
#jobs .pub_date {
  text-align: center;
  padding-top: 25px;
}
#jobs .pub_date span {
  color: #fff;
  font-size: 20px;
  bottom: 0px;
  display: block;
  line-height: 90px;
  background: linear-gradient(135deg, #faa41a, #facc2c);
}
div.preview_btn,
div.apply_btn,
div.remove_favorite_btn {
  padding-top: 30px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
div.preview_btn a,
div.apply_btn a,
div.remove_favorite_btn a {
  transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  line-height: 40px;
  text-align: center !important;
  vertical-align: middle;
  display: block;
  width: 150px;
  background: #9a61d1;
  border-radius: 20px;
  color: #fff;
}
div.preview_btn a:hover,
div.apply_btn a:hover,
div.remove_favorite_btn a:hover {
  text-decoration: none;
}
div.preview_btn a:hover {
  background: #8f5ac2;
}
div.apply_btn {
  margin-top: 10px;
  padding-top: 0px;
}
div.apply_btn a {
  background: #8F8FE4;
  color: #fff;
}
div.apply_btn a:hover {
  background: #8989da;
}
div.remove_favorite_btn {
  margin-top: 10px;
  padding-top: 0px;
}
div.remove_favorite_btn a {
  background: #cc2e2a !important;
  color: #fff;
}
div.remove_favorite_btn a:hover {
  background: #ba1f26 !important;
}
.listed_job.even_child {
  background: #ccc;
}
.job_alert {
  padding: 0;
  margin: 0;
}
.box_alert {
  padding: 0 0 10px 0;
  background: #fff;
  margin-top: -20px;
  -webkit-box-shadow: 1px 1px 2px 2px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 1px 2px 2px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 2px 2px #ccc;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.box_alert h3 {
  padding: 10px;
  text-align: center;
  display: block;
  background: #f9f9f9;
}
.box_alert .category_alert {
  padding: 0 15px;
}
.box_alert .category_alert select {
  border-radius: 0;
  padding: 0 20px;
}
.box_alert .job_alert_con {
  padding: 5px 15px;
}
.box_alert .job_alert_btn {
  padding: 0 15px;
  margin: 10px 0 20px 0;
  margin-bottom: 20px !important;
}
.box_alert .job_alert_btn a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  background: #8F8FE4;
  margin-bottom: 20px !important;
}
#company {
  background: #fff;
  padding-bottom: 10px;
  font-weight: 300;
}
.cp_nav {
  float: right;
  margin: 0;
  padding: 0;
}
.cp_nav ul {
  padding-top: 30px;
  list-style: none;
}
.cp_nav ul li {
  padding-left: 10px;
  display: inline-block;
}
.cp_nav ul li a {
  color: #242424;
  border: 1px solid #f6f6f6;
  text-decoration: none;
  padding: 10px 20px;
  background: #fafafa;
}
#posted_jobs {
  margin: 20px 0;
}
#jobs_stats {
  padding: 15px 0;
}
.posted_view,
.posted_view_normal {
  border-top: 4px solid #8F8FE4;
  background: #fff;
  padding: 15px 0;
}
.posted_view h2,
.posted_view_normal h2 {
  margin: 0;
  padding: 0;
  font-size: 22px;
}
.posted_view_normal {
  border: none;
}
.stat_box {
  -webkit-box-shadow: 1px 1px 2px 2px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 1px 2px 2px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 2px 2px #ccc;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  text-transform: uppercase;
  background: #fff;
}
.stat_box h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  padding-left: 30px;
}
.stat_box h3 i {
  padding-right: 15px;
}
.posted_head {
  color: #fff;
  background: #6055a2;
}
.posted_ad_head table {
  width: 100%;
}
.posted_ad_head table thead th {
  font-family: 'proxima_nova_regular';
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  padding: 14px 14px;
  background: #fafafa;
  border: 1px solid #eae7f5;
}
.posted_ad_head table thead th:first-child {
  width: 35%;
}
.posted_ad_head table tbody tr {
  border: 1px solid #eae7f5;
  text-align: center;
  padding: 10px 0 !important;
}
.posted_ad_head table tbody tr h5 {
  font-weight: bold;
  font-size: 16px;
}
.posted_ad_head table tbody td:nth-child(1) {
  text-align: left;
  padding-left: 20px;
}
.posted_ad_head table tbody tr:nth-child(even) {
  background: #ECECEC;
}
.posted_ad_head table tbody td {
  padding: 10px 0;
}
.btn_posted_jobs {
  margin: 10px 0;
}
.btn_posted_jobs a {
  transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  border-radius: 20px;
  width: 80px;
  display: block;
  line-height: 28px;
  color: #fff;
  margin: 0 auto;
  text-decoration: none !important;
  background: #add078;
}
.btn_posted_jobs a:hover {
  background: #84a05b;
  color: #fafafa;
}
#company_message {
  padding: 20px 0;
}
.left_users h3 {
  padding: 6px 0;
  text-align: center;
  margin: 0;
  background: #6055a2;
  color: #fff;
  font-size: 20px;
}
.list_users {
  height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.user_active {
  background: #fafafa;
}
.user_pic {
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
  padding: 20px 0 20px 10px;
}
.user_icon span {
  font-size: 18px;
  color: #fff;
  background: #dbc1d5;
  padding: 10px 10px;
  border-radius: 20px;
}
.user_name span {
  font-size: 18px;
}
.last_message {
  margin-top: 20px;
  margin-left: 20px;
  border-left: 4px solid #ccc;
}
.last_message span {
  color: #989898;
}
.cat_name {
  text-align: center;
  text-decoration: none;
}
.c0_cat.main_box {
  background: transparent !important;
  border: none !important;
  text-align: center;
  text-decoration: none;
}
.c0_cat.main_box a:hover {
  text-decoration: none !important;
}
.c0_cat.main_box a img {
  width: 30%;
  height: 30%;
}
.message_details {
  padding: 5px 0;
}
.users_message {
  margin-left: -15px;
  background: #fff;
}
.users_message h3 {
  margin: 0;
  margin-left: 35px;
  padding: 5px 0;
  font-size: 20px;
}
.users_message .chatbox_model {
  border-top: 1px solid #dcdcdc;
  background: #f5f5f5;
  height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: -15px;
  width: 103.5%;
}
.timestamp_message {
  padding-top: 7px;
  text-align: right;
}
.u_relative {
  position: relative;
}
.u_absolute {
  position: absolute;
}
.conversation_box_message {
  margin: 10px 10px;
  background-color: #fff;
  border: 1px solid #c9d7df;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 0 0 transparent;
  transition: box-shadow linear 0.04s, border-color linear 0.2s;
  position: relative;
}
.conversation_box_message .composer_editor {
  padding: 5px 10px;
  min-height: 74px;
}
.conversation_box_message .composer_editor:focus {
  border: none !important;
  outline: none !important;
}
.conversation_box_message .action_reply {
  min-height: 30px;
  float: right;
}
.conversation_box_message .action_reply a {
  transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  padding: 7px 20px;
  background: #54a854;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  padding: 5px 10px;
  min-height: 74px;
}
.conversation_box_message .action_reply a:hover {
  background: #62c262;
}
.u_message {
  padding: 0 20px;
  padding-bottom: 100px;
}
.u_message .from_user_side .fus {
  margin-right: 10px;
}
.u_message .from_user_side .us_box {
  background: #fff;
  border: 1px solid #c9d7df;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 0 0 transparent;
  transition: box-shadow linear 0.04s, border-color linear 0.2s;
  padding: 10px 20px;
}
.u_message .from_s_side {
  padding: 10px 0;
}
.u_message .from_s_side .s_user {
  float: right !important;
}
.u_message .from_s_side .us_box {
  float: right;
  background: #f8f8f8;
  border: 1px solid #c9d7df;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 0 0 transparent;
  transition: box-shadow linear 0.04s, border-color linear 0.2s;
  padding: 10px 20px;
}
.s_side {
  float: right !important;
}
.fus,
.s_user {
  padding-top: 20px;
}
.fus span,
.s_user span {
  background: #fff;
  padding: 20px 15px;
}
.top_region_messages {
  padding: 20px 0;
}
.ji-popup {
  filter: url('data:image/svg+xml;utf8,<svg height="0" xmlns="http://www.w3.org/2000/svg"><filter id="svgBlur" x="-5%" y="-5%" width="110%" height="110%"><feGaussianBlur in="SourceGraphic" stdDeviation="5"/></filter></svg>#svgBlur');
  -webkit-filter: url('data:image/svg+xml;utf8,<svg height="0" xmlns="http://www.w3.org/2000/svg"><filter id="svgBlur" x="-5%" y="-5%" width="110%" height="110%"><feGaussianBlur in="SourceGraphic" stdDeviation="5"/></filter></svg>#svgBlur');
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  z-index: 1;
}
.ji-popup-info-company {
  display: block;
  width: 650px;
  background: #fff;
  filter: blur(0px) !important;
  min-height: 400px;
  -webkit-filter: none !important;
  -moz-filter: none !important;
  -o-filter: none !important;
  -ms-filter: none !important;
  filter: none !important;
  position: absolute;
  z-index: 9999 !important;
  top: 10%;
  border-radius: 2px;
  left: 50%;
  margin-left: -325px;
}
.ji-glass-pane {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #2B3D52;
  opacity: 0.7;
  z-index: 9000;
}
.whole_div {
  display: block;
  top: 0px;
  left: 0px;
  position: relative;
}
.nopad-lr,
.nomargin-lr {
  padding: 0 !important;
  margin: 0 !important;
}
.main_region .popup-head-main {
  background: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
  padding: 5px 10px;
  margin: 0;
}
.main_region p {
  padding: 15px 0;
}
.textarea_form textarea {
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 100px;
}
.company_detail {
  padding: 10px 0;
  margin: 10px 0;
  width: 100%;
}
.add_company a {
  padding: 10px 0;
}
.jobsearch_left_filter ul {
  margin-left: -40px;
  list-style: none;
}
.jobsearch_left_filter ul li {
  font-weight: normal !important;
}
.jobsearch_left_filter h3 {
  font-size: 17px;
}
.jobsearch_right_filter {
  margin-top: 20px;
  background: #fff;
}
.job_location_bg {
  background: #d7d9f9 !important;
}
.main_btn {
  padding: 6px 20px;
  color: #fff;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  background: #935aeb;
}
.main_btn:hover {
  text-decoration: none;
  color: #fff;
  background: #8677eb;
}
.main_btn.active {
  text-decoration: none;
  color: #fff;
}
.profile_picture {
  margin: 10px 0;
  width: 200px;
  height: 160px;
}
.profile_picture img {
  width: 100%;
  height: 100%;
}
.user_profile_history {
  padding: 0 15px;
}
