<div class="clearfix"></div>
                        <div class="col-md-4">
                            <h3>

                            </h3>
                        </div>
                        <div class="col-md-4">
                            <h3>
                                {{ sender_side_name }}
                            </h3>
                        </div>

                        <div class="col-md-4 timestamp_message">
                            <p>
{#                                Last Message: Timestamp#}
                            </p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="chatbox_model u_relative">
                        <div class="top_region_messages">
                            <div class="u_message">

                                {% for message in message_data %}
                                    {% if message.sender_id == sender_id%}
                                        <div class="from_s_side">
                                                <div class="s_side">
                                                    <div class="col-md-1 s_user">
                                                        <span>
                                                            {{ message.sender.first_name|slice:"1" }}{{ message.sender.last_name|slice:"1" }}
                                                        </span>
                                                    </div>
                                                    <div class="col-md-9 nopad-lr ">
                                                        <div class="us_box">{{ message.message_body }}</div>
                                                        <div class="clearfix"></div>
                                                        <span class="sender_side_date">{{ message.date_send|timesince }}</span>

                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                        </div>
                                    {% elif message.receiver_id == sender_id %}
                                        <div class="from_user_side">

                                            <div class="col-md-1 fus">
                                                    <span>
                                                        {{message.sender.first_name|slice:"1" }}{{ message.sender.last_name|slice:"1" }}
                                                    </span>
                                                <br>
                                            </div>
                                            <div class="col-md-7 nopad-lr">
                                                <div class="us_box">
                                                    {{ message.message_body }}
                                                </div>
                                                <span class="receiver_side_date">{{ message.date_send|timesince }}</span>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        </div>