{% extends "base_dasboard.html" %}
    <title>{% block title %}Dashboard{% endblock %}</title>
        {% if user.is_authenticated %}
            {% block authenticate_user %} {{ user.first_name|slice:":1" }} {{ user.last_name|slice:":1" }}{%  endblock %}
        {% endif %}
{% block body_content %}
    {% include 'base_dashboard_core.html' %}
    {% include 'notify_message.html' %}


    <div class="container user_profile">
        <div class="row">
            <div class="col-md-12 nopad-lr">
                <div class="col-md-3">
                    <h4>
                        Settings
                    </h4>
                    <ul class="setting_main">
                        <li><a href="{% url 'user_profile' %}" >Personal Information</a></li>
                        <li><a href="{% url 'user_change_password' %}"  >Change Password</a></li>
                        <li><a href="{% url 'profile' %}" >Profile Preview</a></li>
                        <li><a href="{% url 'profile_settings' %}" class="active" >Profile Settings</a></li>
                        <li><a href="javascript:;">User CV</a></li>
                    </ul>
                    <!-- <h4>
                        Billing
                    </h4>
                    <ul class="setting_main">
                        <li><a href="javascript:;">Billing Information</a></li>
                    </ul>-->
                </div>
                <div class="col-md-9 user_profile_details nopad-lr">
                    <div class="">
                        <ul class="user_settings_tabs">
                            <div class="button_settings">
                                <a href="{% url 'profile_settings' %}">
                                    Basic Settings
                                </a>
                            </div>
                            <div class="button_settings employment_btn">
                                <a href="{% url 'profile_settings_employment' %}">
                                    Employment
                                </a>
                            </div>
{#                            <div class="button_settings education_btn">#}
{#                                <a href="javascript:;" class="display_add_employment">#}
{#                                    Add Employment#}
{#                                </a>#}
{#                            </div>#}
                            <div class="button_settings education_btn">
                                <a href="{% url 'profile_settings_education' %}">
                                    Education
                                </a>
                            </div>
{#                            <div class="button_settings education_btn">#}
{#                                <a href="javascript:;" class="display_add_education">#}
{#                                    Add Education#}
{#                                </a>#}
{#                            </div>#}
                            {% if user_cv_status == 0 %}
                                <div class="button_settings education_btn">
                                <a href="{% url 'profile_resume' %}">
                                    Your Resume
                                </a>
                            </div>
                            {% endif %}
                        </ul>
                    </div>
                    <span class="error_main"></span>
                    <div class="clearfix"></div>
                    <span class="success_main">
                    </span>
                    <!-- stylizing the stuff for the profile page onwards -->
                    <div class="clearfix"></div>
                    <form id="user_profile_settings" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-3">
                            <div class="profile_picture">
                                <img src="{{ user.portrait }}" alt="profile picture">
                                <div class="clearfix"></div>
                                <div class="" style="margin-top:10px;">
                                    {{ userBio.user_portrait }}
{#                                    <input  type="file" name="cover_photo_upload" accept="image/gif,image/jpeg,image/png" href="javascript:;" class="">#}
{##}
{#                                    </input>#}
                                </div>
                            </div>
                         </div>
                         <div class="col-md-9">
                             <h3>
                                 <div class="col-md-6 nopad-lr">
                                    <input type="text" name="first_name" class="form-control" id="" value="{{ user.first_name }}">
                                 </div>

                                 <div class="col-md-6 nopad-lr">
                                    <input type="text" name="last_name" class="form-control" id="" value="{{ user.last_name }}">
                                 </div>


                             </h3>
                             <div class="clearfix">

                             </div>
                             <div class="col-md-12 nopad-lr">
                                 <div class="profile_settings_overview">
                                     <textarea name="user_profile_overview" class="form-control">{{ user.overview }}</textarea>
                                 </div>
                             </div>

                            <div class="user_location_buttons">
                                <div class="col-md-6 user_country_pad nopad-lr">
                                    <span>
                                        {{ locationForm.user_country }}
                                    </span>
                                </div>

                                <span>
                                    <div class="user_city_pad col-md-6 nopad-lr">
                                        {{ locationForm.user_city }}
                                    </div>

                                </span>
                            </div>
                             <div class="clearfix"></div>
                             <div class="profile_changes">
                                <a href="javascript:;" class="profile_changes_btn primary_btn_color main__button">Save Changings</a>
                             </div>
                         </div>
                            <div class="clearfix"></div>
                        </form>
                    <div class="user_profile_history">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_scripts %}
{#    <script src="{{ STATIC_URL }}js/plugins/tinymce/tinymce.min.js"></script>#}
{#    <script>tinymce.init({selector:'textarea'});</script>#}
{% endblock %}
