{% extends "base_dasboard.html" %}
    <title>{% block title %}Dashboard{% endblock %}</title>
{% if user.is_authenticated %}

    {% block authenticate_user %}{{ user.first_name|slice:":1"}} {{ user.last_name|slice:":1" }}{%  endblock %}

{% endif %}slice:":2"
{% block body_content %}
    {% include 'base_dashboard_core.html' %}



    <section id="has_user">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="col-md-3">
                        <div class="box_has_user">
                            <h2 class="h0_child">
                                Applied Jobs
                            </h2>
                            <h4>
                                {{ applied_jobs }}
                            </h4>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box_has_user">
                            <h2 class="h1_child">
                                Shortlisted Jobs
                            </h2>
                            <h4>
                                0
                            </h4>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box_has_user">
                            <h2 class="h2_child">
                                Interviews Scheduled
                            </h2>
                            <h4>
                                0
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box_has_user">
                            <h2 class="h3_child">
                                Favorites Jobs
                            </h2>
                            <h4>
                                {{ favorite_jobs }}
                            </h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section id="jobs">
        <div class="container">
            <div class="col-md-9 job_view">
                <h3>
                    Latest Jobs
                </h3>
                <div class="clearfix"></div>
                {% for job in job_detail %}
                <div class="listed_job">
                    <div class="col-md-2">
                        <div class="pub_date">
                            <span class=" p0_child">
                            {{ job.submission_date|date:"D d" }}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-7" class="tjobdesc">
                        <h4>
                            {{ job.company }}
                            <span class="job_location">{{ job.country }}</span>
                            <span class="job_location_bg">{{ job.cities }}</span>
                            <span class="job_category">
                            {{ job.category }}
                        </span>
                        </h4>
                        <h1>{{ job.job_title }}</h1>
                        <p>{{ job.job_description|safe|truncatewords:20 }}</p>
                        <div class="clearfix"></div>

                    </div>
                    <div class="col-md-3">

                        <div class="apply_btn">
                            <a href="{% url 'job_details' job.id %}">
                                View Job Details
                            </a>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                {% endfor %}
                <div class="clearfix"></div>

{#                ending job here#}
            </div>
            <div class="col-md-3 job_alert">
                <div class="box_alert">
                    <h3>
                        Job Alert
                    </h3>
                    <p class="job_alert_con">
                        Want to keep yourself updated from the latest jobs? Select category from below.
                    </p>
                    <div class="category_alert">
                        <select name="" id="" class="form-control">
                            <option value="">

                            </option>
                        </select>
                    </div>

                    <div class="job_alert_btn">
                        <a href="javascript:;">Add Me</a>

                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
