{% extends "base_dasboard.html" %}
    <title>{% block title %}Dashboard{% endblock %}</title>
        {% if user.is_authenticated %}
            {% block authenticate_user %}{{ user.first_name|slice:":1" }}{{ user.last_name|slice:":1" }}{%  endblock %}
        {% endif %}
{% block body_content %}
    {% include 'profile_settings_base.html' %}


    <div class="container user_profile">
        <div class="row">
            <div class="col-md-12 nopad-lr">
                <div class="col-md-3">
                    <h4>
                        Settings
                    </h4>
                    <ul class="setting_main">
                        <li><a href="{% url 'user_profile' %}" class="active">Personal Information</a></li>
                        <li><a href="{% url 'user_change_password' %}"  >Change Password</a></li>
                        <li><a href="{% url 'profile' %}" >Profile Preview</a></li>
                        <li><a href="{% url 'profile_settings' %}" >Profile Settings</a></li>
                    </ul>

                </div>
                <div class="col-md-9">
                    <h2>
                        Your Profile Details
                    </h2>

                    <form action="" class="personal_info">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <fieldset>
                                <label for="">First Name</label>
                                {{ user_basic_form.first_name }}
                            </fieldset>
                        </div>
                        <div class="col-md-6">

                            <fieldset>
                                <label for="">Last Name</label>
                                {{ user_basic_form.last_name }}
                            </fieldset>

                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <label for="">Username</label>
                                {{ user_basic_form.username }}
                            </fieldset>
                        </div>

                        <div class="col-md-6">
                            <fieldset>
                                <label for="">Email ID</label>
                                {{ user_basic_form.email }}
                            </fieldset>
                        </div>
                        <div class="clearfix"></div>

                        <fieldset>
                            <input type="submit"  value="Edit Profile" class="update_profile">
                        </fieldset>

                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
