{% extends "base_dasboard.html" %}
    <title>{% block title %}Dashboard{% endblock %}</title>
        {% if user.is_authenticated %}
            {% block authenticate_user %} {{ user.first_name|slice:":1" }} {{ user.last_name|slice:":1" }}{%  endblock %}
        {% endif %}
{% block body_content %}
    {% include 'base_dashboard_core.html' %}


    <div class="container user_profile">
        <div class="row">
            <div class="col-md-12 nopad-lr">
                <div class="col-md-3">
                    <h4>
                        Settings
                    </h4>
                    <ul class="setting_main">
                        <li><a href="{% url 'user_profile' %}" >Personal Information</a></li>
                        <li><a href="{% url 'user_change_password' %}" class="active" >Change Password</a></li>
                        <li><a href="{% url 'profile' %}" >Profile Preview</a></li>
                        <li><a href="{% url 'profile_settings' %}" >Profile Settings</a></li>
                        <li><a href="javascript:;">User CV</a></li>
                    </ul>
                     <h4>
                        Billing
                    </h4>
                    <ul class="setting_main">
                        <li><a href="javascript:;">Billing Information</a></li>

                    </ul>
                </div>
                <div class="col-md-9">
                    <span class="error_main"></span>
                    <div class="clearfix"></div>
                    <span class="success_main">

                    </span>
                    <div class="clearfix"></div>
                    <h2>

                        Update Password
                    </h2>

                    <form action="" class="change_password_user">
                        {% csrf_token %}
                        <fieldset>
                            <label for="">Current Password</label>
                            {{ cp.password}}
                        </fieldset>

                        <fieldset>
                            <label for="">New Password</label>
                            {{ cp.new_password }}
                        </fieldset>

                        <fieldset>
                            <label for="">Confirm New Password</label>
                            {{ cp.confirm_new_password }}
                        </fieldset>
                        <fieldset>
                            <input type="submit"  value="Update Password" class="change_password">
                        </fieldset>

                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
