{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
        {% block style_block %}
            <link rel="stylesheet" href="{% static "/assets/css/main.css" %}"/>
            <link rel="stylesheet" href="{% static "/assets/css/font-awesome.min.css" %}"/>
            <link rel="stylesheet" href="{% static "/assets/css/plugins/bootstrap/bootstrap_datepicker.css" %}"/>

            <link rel="stylesheet"  href="{% static "/assets/css/chosen/chosen.css" %}"/>
            <!--<link rel="stylesheet" href="{% static "/assets/plugins/dropzone/dropzone.css" %}"/>-->
            <link rel="stylesheet"  href="{% static "/assets/css/chosen/chosen.css" %}"/>
            <link rel="stylesheet"  href="{% static "/assets/css/plugins/bootstrap/bootstrap.min.css" %}"/>
            <link rel="stylesheet" href="{% static "/assets/css/evaluation.css" %}"/>
            <link rel="stylesheet"  href="{% static "/assets/css/company.css" %}"/>
{#            <link rel="stylesheet"  href="{% static "/assets/js/plugins/bootstrap_datepicker/css/bootstrap-material-datetimepicker.css" %}"/>#}
{#            <link rel="stylesheet"  href="{% static "/assets/css/plugins/bootstrap-material-design/material.min.css" %}"/>#}
{#            <link rel="stylesheet"  href="{% static "/assets/css/plugins/bootstrap-material-design/icon.css" %}"/>#}

        {% endblock %}
</head>
{% block body_tag %}
<body>


{% endblock %}
{% block dashboard_nav_content %}
    <header class="dashboard_s0">
    <div class="container">
        <div class="row">
            <div class="nav_container">

                    <div class="main_logo">
                        <div class="logo">
                            <a href="/accounts/login">JobInsider</a>
                        </div>
                    </div>
                        <div class="nav_bar_main">
                            <ul>
                                {% if user.is_authenticated %}
                                    <li>
                                        <a href="/jobs/index">Jobs</a>
                                    </li>

                                    {% if body_status == 0 %}
                                        <li>
                                            <a href="{% url 'favorite' %}">Favorite Jobs</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'applied' %}">Applied </a>
                                        </li>
                                        {% else %}
                                        <li>
                                            <a href="{% url 'applied_candidates_all' %}">Applied Candidates</a>
                                        </li>
{#                                        <li>#}
{#                                            <a href="">Shortlisted Candidates</a>#}
{#                                        </li>#}
                                    {% endif %}
                                {% else %}
                                    <li>
                                        <a href="{% url 'search' %}">Jobs</a>
                                    </li>
{#                                    <li>#}
{#                                        <a href="{% url 'register_account' %}">View Profiles</a>#}
{#                                    </li>#}
                                {% endif %}
                            </ul>
                        </div>
                        <div class="user_actions"><!--user_profile_detail-->
                                <div class=""><!--user_profile_detail-->
                                   {% if not body_status == 2 %}
                                    <ul class="dashboard_s0_nav_main">
                                        <li>
                                        {% block header_company_messages %}
                                            {% if user_is_company %}
                                                <a href="#"><i class="fa fa-inbox fa-lg comapny_notify-div"><span class="badge badge-notify admin-badge-notify"></span></i></a>
                                                <div class="alert-nofication scrollbar" style="display:none;" id="style-2">
                                                        <div class="row">
                                                            <div class="col-lg-4 col-md-offset-4" >
                                                                <h4>Notifications</h4>
                                                                <a class="trashclass" href="#"><i><span class="trash fa fa-trash-o fa-lg"></span></i></a>
                                                            </div>
                                                        </div>

                                                    <div class="row">
                                                        <div class="col-lg-12 omer" id="omer123">

                                                        </div>
                                                    </div>
                                                    <div class="wrapper12">

                                                     <div class="row">
                                                            <div class="col-lg-4 col-md-offset-4">
                                                                <div class="viewall notification_a">
                                                                  <a href={{ base_url }}/company/user/notification_page/><span>See All</span></a>
                                                                </div>
                                                            </div>
                                                      </div>
                                                  </div>
                                                </div>


                                                <a href="{% url 'messages' %}"><i class="fa fa-envelope fa-lg messageicon"><span class="badge badge-notify company-badge-notify"></span></i></a>

                                            {% else %}



                                                <a href="#"><i class="fa fa-inbox fa-lg jobseeker-notify-div"><span class="badge badge-notify job-admin-badge-notify"></span></i></a>
                                                 <div class="jobseeker-alert-nofication scrollbar" style="display:none;" id="style-2">
                                                        <div class="row">
                                                            <div class="col-lg-4 col-md-offset-4" >
                                                                <h4>Notifications</h4>
                                                                <a href="#"><i><span class="jobseeker_trashclass trash fa fa-trash-o fa-lg"></span></i></a>
                                                            </div>
                                                        </div>

                                                    <div class="row">
                                                        <div class="col-lg-12 omer" id='jobseeker123'>

                                                        </div>
                                                    </div>
                                                    <div class="wrapper12">

                                                     <div class="row">
                                                            <div class="col-lg-4 col-md-offset-4">
                                                                <div class="viewall notification_a">
                                                                  <a href="{{ base_url }}/company/user/jobseeker_notification_page/"><span>See All</span></a>
                                                                </div>
                                                            </div>
                                                      </div>
                                                  </div>
                                                </div>


                                                <a href="/user/messages/"><i class="fa fa-envelope fa-lg jobseekermessages"><span class="badge badge-notify jobseeker-badge-notify"></span></i></a>


                                            {% endif %}
                                        {% endblock %}
                                        </li>
                                        <li >

                                            <a class="display_user_settings"  href=""><span class="user_initials">{% block authenticate_user %}Welcome  Username {%  endblock %}</span></a>
                                            <div class="user_profile_settings">
                                                <div class="links_block">
                                                    {% block header_company_nav %}
                                                        <a href="/user/u/">Account Settings</a>
                                                        <a href="/accounts/logout/">Logout</a>
                                                    {% endblock %}
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                {% endif %}
                                </div>
                        </div>
                    </div>
        </div>

        <div class="clearfix"></div>


    </div>
</header>
    <div class="clearfix">
    </div>
{% endblock %}
{% block body_content %} {% endblock %}
{% block scripts_block %}
    <script src='{% static "/assets/js/jquery-2.1.4.min.js" %}'></script>
    <script src='{% static "/assets/js/plugins/verifyjs/verify.notify.min.js" %}'></script>
    <script src='{% static "/assets/js/plugins/bootstrap/bootstrap.min.js" %}'></script>
    <script src='{% static "/assets/js/plugins/bootstrap-datepicker.js" %}'></script>
    <script src='{% static "/assets/js/plugins/moment/min/moment.min.js" %}'></script>
    <script src='{% static "/assets/js/plugins/moment/min/moment-with-locales.min.js" %}'></script>
    <script src='{% static "/assets/js/plugins/bootstrap_datepicker/js/bootstrap-material-datetimepicker.js" %}'></script>
    <script src='{% static "/assets/js/helper.js" %}'></script>
    <script src='{% static "/assets/js/evaluation.js" %}'></script>
    <script src='{% static "/assets/js/evaluation_question_edit.js" %}'></script>

    <script src='{% static "/assets/js/main.js" %}'></script>
    <script src='{% static "/assets/js/core.js" %}'></script>
{% endblock %}
{% block custom_scripts %}
{% endblock %}
</body>

</html>