<section class="header_top_menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="nav_bar">

                    <ul class="nav_head_top">
                         <li>
                            <a href="">Dashboard</a>
                        </li>
                        <li>
                            <a href="">Find Jobs</a>
                        </li>
                        <li>
                            <a href="">Saved Jobs</a>
                        </li>
                        <li>
                            <a href="">Find Jobs</a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>