{% load staticfiles %}
{% load bootstrap3 %}



<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% block style_block %}
        <link rel="stylesheet" href="{% static "/assets/css/main.css" %}"/>
        <link rel="stylesheet" href="{% static "/assets/css/font-awesome.min.css" %}"/>
        <link rel="stylesheet" href="{% static "/assets/css/datepicker.css" %}"/>
        <link rel="stylesheet"  href="{% static "/assets/css/company.css" %}"/>

        <!--<link rel="stylesheet" href="{% static "/assets/plugins/dropzone/dropzone.css" %}"/>-->
        {% bootstrap_css %}

    {% endblock %}

</head>

{% block body_tag %}
<body>
{% endblock %}

{% block dashboard_nav_content %}
    <header class="dashboard_s0">
    <div class="container">
        <div class="row">
            <div class="nav_container">

                    <div class="main_logo">
                        <div class="logo">
                            JobInsider
                        </div>
                    </div>
{#                    <div class="col-md-10 right_sec">#}

{#                        <div class="col-md-9">#}
{#                            <nav class="dashboard_s0_nav">#}
{#                                <ul>#}
{#                                    {% if user.is_authenticated %}#}
{#                                    <li>#}
{#                                        <a href="">Create Advertisement</a>#}
{#                                    </li>#}
{#                                    {% else %}#}
{##}
{#                                        <li>#}
{#                                          <a href="{% url 'register_account' %}">Search Jobs</a>#}
{#                                       </li>#}
{#                                        <li>#}
{#                                         <a href="{% url 'register_account' %}">View Profiles</a>#}
{#                                        </li>#}
{#                                    {% endif %}#}
{#                                </ul>#}
{#                            </nav>#}
{#                        </div>#}

                        <div class="nav_bar_main">
                            <ul>
                                {% if user.is_authenticated %}
                                    <li>
                                        <a href="">Jobs</a>
                                    </li>
                                    <li>
                                        <a href="">Favorite Jobs</a>
                                    </li>
                                    <li>
{#                                        <a href="">Jobs</a>#}
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{% url 'register_account' %}">Search Jobs</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'register_account' %}">View Profiles</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="user_actions"><!--user_profile_detail-->
                                <div class=""><!--user_profile_detail-->
                                    <ul class="dashboard_s0_nav_main">
                                        <li>
                                            <a href=""><i class="fa fa-inbox fa-lg"></i></a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-bell-o fa-lg"></i></a>
                                        </li>
                                        <li class="display_user_settings">
                                            <a href=""><span class="user_initials">{% block authenticate_user %}Welcome  Username {%  endblock %}</span></a>
                                            <div class="user_profile_settings">
                                                <div class="links_block">
                                                    <a href="/user/u/">Account Settings</a>
                                                    <a href="/accounts/logout/">Logout</a>
                                                </div>
                                            </div>
                                        </li>
{#                                        <div class="dashboard_s0_nav_child">#}
{#                                            <ul>#}
{#                                                <li><a href="">Settings</a></li>#}
{#                                                <li><a href="">Logout</a></li>#}
{#                                            </ul>#}
{#                                        </div>#}

                                    </ul>


                                </div>


                        </div>

                    </div>


            {#  Menu dropdown   #}

        </div>

        <div class="clearfix"></div>


    </div>
</header>
    <div class="clearfix">
    </div>


{% endblock %}






{% block body_content %} {% endblock %}

{% block scripts_block %}

    <script src='{% static "/assets/js/jquery-2.1.4.min.js" %}'></script>
    {% bootstrap_javascript %}
    <script src='{% static "/assets/js/plugins/bootstrap-datepicker.js" %}'></script>
    <script src='{% static "/assets/js/main.js" %}'></script>
    <script src='{% static "/assets/js/helper.js" %}'></script>
    <script src='{% static "/assets/js/core.js" %}'></script>



{% endblock %}

{% block custom_scripts %}


{% endblock %}
</body>

</html>