{#<footer>#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-12 footer_s0">#}
{#                <div class="col-md-3">#}
{#                    <h4>#}
{#                     Job Insider#}
{#                    </h4>#}
{#                    <ul class="footer_nav">#}
{#                        <li>#}
{#                            <a href="">About Us</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="">Careers</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="">Research</a>#}
{#                        </li>#}
{#                    </ul>#}
{##}
{#                </div>#}
{#                <div class="col-md-3">#}
{#                    <h4>#}
{#                        Work With Us#}
{#                   </h4>#}
{#                    <ul class="footer_nav">#}
{#                        <li>#}
{#                            <a href="">Job Boards</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="">Advertisers</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="">Developers</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-md-3">#}
{##}
{##}
{##}
{#                    <h4>#}
{#                     Job Insider#}
{#                    </h4>#}
{#                    <ul class="footer_nav">#}
{#                        <li>#}
{#                            <a href="">Help Center</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="">Guidelines</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="">Terms of Use</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-md-3"></div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}
<footer>
    <div class="container">
        <div class="col-md-12">
            <p>
                &copy; All Rights Reserved 2015-2016  - JobsInsider
            </p>
        </div>
    </div>

</footer>
