body {
  margin: 0 auto;
}
.admin_nav {
  list-style: none;
}
.admin_nav li {
  display: inline-block;
}
.admin_nav li a {
  text-decoration: none;
  color: #ffffff;
  background: #000;
  padding: 10px 20px;
}


.omer{
  background: #fff;
}
.add_edu_type input[type=text]{

  width:500px;
}