<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Dear {{username}},
<br><br>
Visit this link to reset your password: http://jobinsider.xyz:8000/accounts/forgot/newpassword?pauthid={{token}}
<br><br>
Please keep in mind that the above link will expire in 30 minutes. You are receiving this email because you just filled the forgot password form on JobsInsider, if you are not aware of this, simply ignore this email.
<br><br>
Regards,
<br>
JobsInsider Support


</body>
</html>