<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

Thank you for joining JobsInsider, {{first_name}}!<br><br>

Welcome to JobsInsider, the workplace for the world. Here are your account details for future reference:
<br><br>
Your username is: azhar109<br>
Forgot your password? <a href="http://jobinsider.xyz:8000/accounts/forgot/">Find it here</a>
<Br><Br>
You’ve joined a talented community of independent professionals and agencies doing amazing work. To take advantage of them, start by setting up a great profile that markets yourself to prospective clients.
<Br><Br>
<a href="http://jobinsider.xyz:8000/dashboard">Set up your profile</a><Br><Br>

For tips on creating a polished, professional profile—and other useful information about freelancing on Upwork—check out A Freelancer’s Guide to Upwork.
<Br><Br>
Once your profile has been published, you’re ready to start connecting with clients.<Br><Br>
In the meantime, browse our guide for more on getting started and tell us how you’d like to get paid by your clients. For additional information, inspiration, and help from your peers, visit our Upwork Community forum.<Br><Br>
Thanks again for joining us! We’re so happy to have you.
<Br><Br>

Best,<br>
The JobsInsider team

</body>
</html>