{% extends "base_dasboard.html" %}
    <title>{% block title %}Applied Candidates{% endblock %}</title>
        {% if user.is_authenticated %}
            {% block authenticate_user %}{{ user.first_name|slice:":1" }}{{ user.last_name|slice:":1" }}{%  endblock %}
        {% endif %}
{% block header_company_nav %}
    <a href="{% url 'company_profile' %}">Account Settings</a>
    <a href="{% url 'logout' %}">Logout</a>
{% endblock %}
{% block body_content %}
    {% include 'notify_message.html' %}
    <div class="clearfix"></div>
    <section id="company">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-4">

                    <h3>
                        Applied Candidates
                    </h3>

                </div>
                <div class="col-md-8">
                    <div class="cp_nav">
                        <ul>
                            <li><a href="{% url 'job_advertisement' %}">Create Job Ad</a></li>
                            <li><a href="{% url 'test_template' %}">Evaluation Test</a></li>
                            <li><a href="{% url 'posted_jobs' %}">Posted Jobs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="main_container">
        <div class="container">
            <div class="col-md-12 applied__user__box">
            {% csrf_token %}
            {% if data_count != 0 %}
                <input type="hidden" class="job__advert__id" value="{{ job_id }}">

                    <div class="col-md-9 applied_candidate_listview">


                     {%  for details in data %}

                        <div class="applied__user">
                            <div class="col-md-2">
                                <img class="user__profile" src="{{ MEDIA_URL }}userprofile/{{ details.user_portrait_filename }}" alt="">
                            </div>
                            <div class="col-md-7">
                                <h3>
                                    {{ details.first_name }} {{ details.last_name }}
                                    {%   if details.user_gender == 1 %}
                                        <span class="user__gender">Female</span>
                                    {% else %}
                                        <span class="user__gender">Male</span>
                                    {% endif %}

                                </h3>
                                <div class="clearfix"></div>
                                <div class="location__details">
                                    <span class="user__gender">{{ details.city_name }}</span>
                                    <span class="user__gender">{{ details.country_name }}</span>
                                </div>
                                <p>
                                    {{ user_main.user_overview|truncatewords:25 }}
                                </p>

                                    {% for employ in  employment%}
                                        {% if details.user_id == employ.user_id  %}
                                             <h4>
                                                <img class="user__education" src="{{ STATIC_URL }}img/employee_16.png" alt="">{{ employ.company_worktitle}} at {{ employ.company_name }} <span class="user__date">({{ employ.company_from|date:"M Y"}} - {{ employ.company_to|date:"M Y" }})</span>
                                             </h4>
                                        {% endif %}
                                    {% endfor %}


                                {% for educate in  education%}
                                        {% if details.user_id == educate.user_id  %}
                                             <h4>
                                                 <img class="user__education" src="{{ STATIC_URL }}img/college_16.png" alt="">{{ educate.user_degree }} from {{ educate.user_institute }}<span class="user__date">({{ educate.degree_from|date:"M Y"}} - {{ educate.degree_to|date:"M Y" }})</span>
                                             </h4>
                                        {% endif %}
                                    {% endfor %}
                                <h4>
                                </h4>


                            </div>
                            <div class="col-md-3 user__actions">

                                <a href="{% url 'candidate' details.user_id %}" class="job_apply_btn view__detail">View Detail Profile</a>
                                {% if details.is_shortlisted == False %}
                                    <a href="javascript:;" value="{{ details.user_id }}" class="job_apply_btn shorlist__candidate">Shortlist Candidate</a>
                                {% else %}
                                    <a href="javascript:;" value="{{ details.user_id }}" class="job_apply_btn shorlist__candidate__remove">Remove Candidate Shortlist</a>
                                {% endif %}
                            {% if is_evaluation_test %}
                                <h3 class="evaluation_test_score">
                                {% if details.evaluation_test_score %}
                                    <span class="et_score_green">{{ details.evaluation_test_score|floatformat:"2"  }} % Correct</span>
                                {% else %}
                                    <span class="et_score_none">No Test Given</span>
                                {% endif %}
{#                                {% if details.evaluation_test_score|floatformat:"0" <= 30 %}#}
{#                                    <span style="color:#c80000;">{{ details.evaluation_test_score|floatformat:"0" }}</span>#}
{#                                {% elif details.evaluation_test_score|floatformat:"0" > 40 and details.evaluation_test_score < 50 %}#}
{#                                    <span style="color:#eebe3e;">{{ details.evaluation_test_score|floatformat:"0" }}</span>#}
{#                                {% elif details.evaluation_test_score|floatformat:"0" > 51 and details.evaluation_test_score < 70 %}#}
{#                                    <span style="color:#d5ff3a;">{{ details.evaluation_test_score|floatformat:"0" }}</span>#}
{#                                {% elif details.evaluation_test_score|floatformat:"0" > 71 and details.evaluation_test_score < 80 %}#}
{#                                    <span style="color:#c8ff28;">{{ details.evaluation_test_score|floatformat:"0" }}</span>#}
{#                                {% elif details.evaluation_test_score|floatformat:"0" > 81 and details.evaluation_test_score < 100 %}#}
{#                                    <span style="color:#26e500;">{{ details.evaluation_test_score|floatformat:"0" }}</span>#}
{#                                {% endif %}#}
                                </h3>
                                {% if details.attempts %}
                                    <h4 class="user_attempts">Attempts: {{ details.attempts }}</h4>
                                {% endif %}
                            {% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="col-md-3 ">
                        <div class="user__filters">
                            <h3>
                                Country Filter
                            </h3>
                            <div class="countries_applied_list">
                                {% for data in applied_country_user %}
                                    <input class="applied_user_country" onchange="applied_candidates.by_countries({{ data.country_value }})" type="radio" name="applied_user_country" value="{{ data.country_value }}" id="user_country_{{ data.country_name}} "><label for="user_country_{{ data.country_name}} ">{{ data.country_name}} ({{ data.total_per_country }})</label>
                                    <div class="clearfix"></div>
                                    <div class="cities_applied_list">
                                        {% for data_city in applied_cities_user %}
                                            {% if data_city.country_name == data.country_name %}
                                                <input class="applied_user_city" onchange="applied_candidates.by_cities(this,{{ data_city.city_value }})" type="radio" name="applied_user_city[]" value="{{ data_city.city_value }}" id="user_city_{{ data_city.city_value }}"><label for="user_city_{{ data_city.city_value }}">{{ data_city.city_name}} ({{ data_city.total_per_city }})</label>
                                                <div class="clearfix"></div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                            <h3>
                                Gender
                            </h3>
                                {% for data in applied_gender_user %}
                                    <div class="applied_user_gender">
                                        <input type="radio" name="applied_user_gender[]" onchange="applied_candidates.by_gender({{ data.user_gender }})" value="{{ data.user_gender }}" id="user_city_{{ data.user_gender }}">
                                        <label for="user_city_{{ data.user_gender }}">
                                            {% if data.user_gender == 0 %}
                                                Male ({{ data.type}})
                                            {% else %}
                                                Female ({{ data.type}})
                                            {% endif %}
                                        </label>
                                    </div>
                                {% endfor %}
{#                            {{ applied_country_user.advertisement.country }}#}
                        </div>
                    </div>
            {% else %}
                <span class="empty_data favorite_empty">
                        No one applied to the job yet. You will be notified as soon as someone apply to it.
                </span>
            {% endif %}
            </div>
        </div>
    </section>

{% endblock %}