{% extends "base_dasboard.html" %}
    <title>{% block title %}Applied Candidates{% endblock %}</title>
        {% if user.is_authenticated %}
            {% block authenticate_user %} {{ user.first_name|slice:":1" }} {{ user.last_name|slice:":1" }}{%  endblock %}
        {% endif %}
{% block header_company_nav %}
    <a href="{% url 'company_profile' %}">Account Settings</a>
    <a href="{% url 'logout' %}">Logout</a>
{% endblock %}
{% block body_content %}
    {% include 'notify_message.html' %}
    <div class="clearfix"></div>
    <section id="company">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-4">

                    <h3>
                        Shortlist Candidate
                    </h3>

                </div>
                <div class="col-md-8">
                    <div class="cp_nav">
                        <ul>
                            <li><a href="{% url 'job_advertisement' %}">Create Job Ad</a></li>
                            <li><a href="{% url 'posted_jobs' %}">Posted Jobs</a></li>
                            <li><a href="{% url 'favorite' %}">Favorite CV</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="main_container">
        <div class="container">
            <div class="col-md-12 applied__user__box">
            {% if user_main %}

                    <div class="col-md-12 ">

                        <div class="col-md-12 nopad-lr schedule_interview_content">
                        <div class="schedule_interview__col">
                            <img src="{{ STATIC_URL }}img/calendar-icons.png" alt="Calendar">
                        </div>
                        {% csrf_token %}
                            <input type="hidden" value="{{ job_id }}" class="job_id_value">
                            <input type="hidden" value="{{ candidate_id }}" class="candidate_id_value">
                        <div class="applied__user schedule_interview_sec">
                            <div class="col-md-9 nopad-lr">
                                <h3>
                                    <span class="headline_interview">Interview with</span> <span class="user__name">{{ user_main.first_name }} {{ user_main.last_name }}</span>
                                </h3>
                              <div class="clearfix"></div>
                                 <div class="col-md-6">
                                     <div class="col-md-2 nopad-lr">
                                         <label class="schedule_interview_label">From</label>
                                     </div>
                                     <div class="col-md-5 nopad-lr">
                                         <input value={{ today_date|date:"Y-m-d" }} type="date"  name="from_interview_date" placeholder="Date" class="form-control interview_date from_interview_date">
                                     </div>
                                     <div class="col-md-5">
                                         <input type="time" name="from_interview_date" id="interview_time" placeholder="Time" class="form-control from_interview_time">
                                     </div>

                                 </div>
                                 <div class="col-md-6">
                                     <div class="col-md-2 nopad-lr">
                                         <label class="schedule_interview_label">To</label>
                                     </div>
                                     <div class="col-md-5 nopad-lr">
                                         <input value={{ today_date|date:"Y-m-d" }} type="date" name="from_interview_date" placeholder="Date" class="form-control interview_date to_interview_date">
                                     </div>
                                     <div class="col-md-5 ">
                                         <input type="time" name="from_interview_date" id="interview_time_to" placeholder="Time" class="form-control to_interview_time">
                                     </div>

                                 </div>

                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <h3 style="padding-left:0; margin-left:0;">Invitation Message <a href="javascript:;" class="predefined_template apply_btn">Use Predefined Template</a> <a href="javascript:;" class="clear_template apply_btn">Clear</a></h3>
                                    <textarea name="" class="form-control" id="interview_message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-3 user__actions">

                                <a href="javascript:;" class="job_apply_btn send_invitation">Send Invitation</a>
{#                                <a href="javascript:;" class="job_apply_btn shorlist__candidate">Add a Note</a>#}
                            </div>
                            <div class="clearfix"></div>
                            <hr>

                        </div>
                        <div class="clearfix"></div>
                        <div class="schedule_interview__col">
                            <img src="{{ STATIC_URL }}img/user_rename.png" alt="User Profile">
                        </div>
                        <div class="applied__user schedule_interview_sec">
                             <h3>
                                    <span class="headline_interview">Personal Profile</span>
                             </h3>
                              <div class="applied__user">
                                <div class="col-md-2">
                                 <img class="user__profile" src="{{ MEDIA_URL }}userprofile/{{ user_bio.user_portrait_filename }}" alt="">
                                </div>
                              <div class="col-md-9">
                                  <h3>
                                    {{ user_main.first_name }} {{ user_main.last_name }}
                                    {%   if user_bio.user_gender == 1 %}
                                        <span class="user__gender">Female</span>
                                    {% else %}
                                        <span class="user__gender">Male</span>
                                    {% endif %}

                                  </h3>
                                    <div class="clearfix"></div>
                                    <div class="location__details">
                                        <span class="user__gender">{{ user_location.user_city }}</span>
                                        <span class="user__gender">{{ user_location.user_country}}</span>
                                    </div>
                                    <p>
                                        {{ user_bio.user_overview|truncatewords:25 }}
                                    </p>

                                    {% for employ in  user_employment%}
                                             <h4>
                                                <img class="user__education" src="{{ STATIC_URL }}img/employee_16.png" alt="">{{ employ.company_worktitle}} at {{ employ.company_name }} <span class="user__date">({{ employ.company_from|date:"M Y"}} - {{ employ.company_to|date:"M Y" }})</span>
                                             </h4>
                                    {% endfor %}


                                    {% for educate in  user_education%}
                                        <h4>
                                            <img class="user__education" src="{{ STATIC_URL }}img/college_16.png" alt="">{{ educate.user_degree }} from {{ educate.user_institute }}<span class="user__date">({{ educate.degree_from|date:"M Y"}} - {{ educate.degree_to|date:"M Y" }})</span>
                                        </h4>
                                    {% endfor %}
                            </div>
                            <div class="clearfix"></div>

                         </div>
                        </div>




                     </div>
                    <div class="clearfix"></div>
                    </div>
            {% else %}
                <span class="empty_data favorite_empty">
                        No one applied to the job yet. You will be notified as soon as someone apply to it.
                </span>
            {% endif %}
            </div>
        </div>
    </section>

{% endblock %}
{% block custom_scripts %}
    <script>
    </script>


{% endblock %}