{% extends "base_dasboard.html" %}
    <title>{% block title %}Applied Candidates{% endblock %}</title>
        {% if user.is_authenticated %}
            {% block authenticate_user %} {{ user.first_name|slice:":1" }} {{ user.last_name|slice:":1" }}{%  endblock %}
        {% endif %}
{% block header_company_nav %}
    <a href="{% url 'company_profile' %}">Account Settings</a>
    <a href="{% url 'logout' %}">Logout</a>
{% endblock %}
{% block body_content %}
    <div class="clearfix"></div>
    <section id="company">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-4">

                    <h3>
                        Applied Candidates
                    </h3>

                </div>
                <div class="col-md-8">
                    <div class="cp_nav">
                        <ul>
                            <li><a href="{% url 'job_advertisement' %}">Create Advertisement</a></li>
                            <li><a href="{% url 'posted_jobs' %}">Posted Jobs</a></li>
                            <li><a href="{% url 'favorite' %}">Favorite CV</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="main_container">
        <div class="container">
            <div class="col-md-12 applied__user__box">
            {% csrf_token %}
            {% if data_count != 0 %}
                <input type="hidden" class="job__advert__id" value="{{ job_id }}">

                    <div class="col-md-9 ">
                     {%  for details in data %}
                        <div class="applied__user">
                            <div class="col-md-2">
                                <img class="user__profile" src="{{ MEDIA_URL }}userprofile/{{ details.user_portrait_filename }}" alt="">
                            </div>
                            <div class="col-md-7">
                                <h3>
                                    {{ details.first_name }} {{ details.last_name }}
                                    {%   if details.user_gender == 1 %}
                                        <span class="user__gender">Female</span>
                                    {% else %}
                                        <span class="user__gender">Male</span>
                                    {% endif %}

                                </h3>
                                <div class="clearfix"></div>
                                <div class="location__details">
                                    <span class="user__gender">{{ details.city_name }}</span>
                                    <span class="user__gender">{{ details.country_name }}</span>
                                </div>
                                <p>
                                    {{ user_main.user_overview|truncatewords:25 }}
                                </p>

                                    {% for employ in  employment%}
                                        {% if details.user_id == employ.user_id  %}
                                             <h4>
                                                <img class="user__education" src="{{ STATIC_URL }}img/employee_16.png" alt="">{{ employ.company_worktitle}} at {{ employ.company_name }} <span class="user__date">({{ employ.company_from|date:"M Y"}} - {{ employ.company_to|date:"M Y" }})</span>
                                             </h4>
                                        {% endif %}
                                    {% endfor %}


                                {% for educate in  education%}
                                        {% if details.user_id == educate.user_id  %}
                                             <h4>
                                                 <img class="user__education" src="{{ STATIC_URL }}img/college_16.png" alt="">{{ educate.user_degree }} from {{ educate.user_institute }}<span class="user__date">({{ educate.degree_from|date:"M Y"}} - {{ educate.degree_to|date:"M Y" }})</span>
                                             </h4>
                                        {% endif %}
                                    {% endfor %}
                                <h4>
                                </h4>


                            </div>
                            <div class="col-md-3 user__actions">
                                <a href="{% url 'candidate' details.user_id %}" class="job_apply_btn view__detail">View Detail Profile</a>
                                <a href="{% url 'schedule_interview' details.user_id %}" class="job_apply_btn schedule__interview__candidate">Schedule Interview</a>
                                <a href="javascript:;" value="{{ details.user_id }}" class="job_apply_btn shorlist__candidate__remove">Remove Shortlist</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="col-md-3 ">
                        <div class="user__filters">
                            <h3>
                                Country Filter
                            </h3>
    {#                        <input type="radio" name="" id="countries" ><label for="countries" >Pakistan</label>#}
                        </div>

                    </div>
            {% else %}
                <span class="empty_data favorite_empty">
                        You have not shortlisted any candidate yet. Shortlist your candidate in order to interview them.
                </span>
            {% endif %}
            </div>
        </div>
    </section>

{% endblock %}