{% extends "base_dasboard.html" %}
    <title>{% block title %}Dashboard{% endblock %}</title>
        {% if user.is_authenticated %}
            {% block authenticate_user %}{{ user.first_name|slice:":1" }}{{ user.last_name|slice:":1" }}{%  endblock %}
        {% endif %}
{% block header_company_nav %}
    <a href="/company/profile/">Account Settings</a>
    <a href="/accounts/logout/">Logout</a>
{% endblock %}
{% block body_content %}
    {% include 'base_dashboard_core.html' %}

{#    {% block company_dash %}#}

{#    {% endblock %}#}

    <section id="list_companies ">
        <div class="container user_profile" >


            <div class="col-md-12">
            <div class="col-md-3">
                    <h4>
                        General Settings
                    </h4>
                    <ul class="setting_main">
                        <li><a href="{% url 'company_profile' %}">Personal Information</a></li>
                        <li><a href="{% url 'company_password' %}"  >Change Password</a></li>
{#                        <li><a href="javascript:;">User CV</a></li>#}
                    </ul>
                     <h4>
                        Company Settings
                    </h4>
                    <ul class="setting_main">
                        <li><a href="{% url 'company_list' %}" class="active">List All Companies</a></li>
                        <li><a href="/company/add_company/">Add Another Company</a></li>

                    </ul>
                </div>
            <div class="col-md-9 list_companies nopad-lr">
                <div class="company_heading">
                    <div class="col-md-12 company_heading" >
                        <h3>
                            Your Companies list
                        </h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <table width="100%">
                        <thead>
                            <th>
                                Company Name
                            </th>
                            <th>
                                Your Role
                            </th>
                            <th>
                                Company URL
                            </th>
                            <th>
                                Company Industry
                            </th>
                            <th>
                                Status
                            </th>
                            <th colspan="3">
                                Actions
                            </th>
                        </thead>
                        <tbody>
                        {% for data in companies %}
                            <tr>
                                <td>
                                    {{ data.company_name }}
                                </td>
                                <td>
                                    {{ data.your_role }}
                                </td>
                                <td>
                                    {{ data.company_url }}
                                </td>
                                <td>
                                    {{ data.company_industry }}

                                </td>
                                <td>
                                   {% if data.company_status   %}
                                        Active
                                    {% else %}
                                        Inactive
                                    {% endif %}
                                </td>
                                <td>
                                    <a value="{{ data.id }}" href="javascript:;">Edit</a>
                                    <a value="{{ data.id }}" href="javascript:;">Delete</a>
                                    <a value="{{ data.id }}" href="javascript:;">Inactive</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                </div>
            </div>
        </div>
    </section>


<a href="/accounts/logout">Log out</a>
{% endblock %}
</div>