{% extends "base_dasboard.html" %}
    <title>{% block title %}Dashboard{% endblock %}</title>
        {% if user.is_authenticated %}
            {% block authenticate_user %} Hi {{ user.first_name|slice:":1" }} {{ user.last_name|slice:":1" }}{%  endblock %}
        {% endif %}
{% block body_content %}
    {% include 'base_dashboard_core.html' %}


    <div class="container user_profile">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <h4>
                        General Settings
                    </h4>
                    <ul class="setting_main">
                        <li><a href="{% url 'company_profile' %}">Personal Information</a></li>
                        <li><a href="{% url 'company_password' %}"  class="active">Change Password</a></li>
{#                        <li><a href="javascript:;">User CV</a></li>#}
                    </ul>
                     <h4>
                        Company Settings
                    </h4>
                    <ul class="setting_main">
                        <li><a href="{% url 'company_list' %}">List All Companies</a></li>
                        <li><a href="/company/add_company/">Add Another Company</a></li>

                    </ul>
                </div>
                <div class="col-md-9">
                    <span class="error_main"></span>
                    <div class="clearfix"></div>
                    <span class="success_main">

                    </span>
                    <div class="clearfix"></div>
                    <h2>

                        Update Password
                    </h2>

                    <form action="" class="change_company_pass_form">
                        {% csrf_token %}
                        <fieldset>
                            <label for="">Current Password</label>
                            {{ cp.password}}
                        </fieldset>

                        <fieldset>
                            <label for="">New Password</label>
                            {{ cp.new_password }}
                        </fieldset>

                        <fieldset>
                            <label for="">Confirm New Password</label>
                            {{ cp.confirm_new_password }}
                        </fieldset>
                        <fieldset>
                            <input type="submit"  value="Update Password" class="change_company_password">
                        </fieldset>

                    </form>

                </div>
            </div>
        </div>
    </div>


<a href="/accounts/logout">Log out</a>
{% endblock %}
