{% extends "base_dasboard.html" %}



{#{% extends 'company_core.html' %}#}
    <title>{% block title %}Dashboard{% endblock %}</title>
{% if user.is_authenticated %}

    {% block authenticate_user %} {{ user.first_name|slice:":1" }}{{ user.last_name|slice:":1" }}{%  endblock %}

{% endif %}
{% block header_company_nav %}
    <a href="{% url 'company_profile' %}">Account Settings</a>
    <a href="{% url 'logout' %}">Logout</a>
{% endblock %}
{#Setting up the blurry region for the form#}
{% block body_tag %}
    {% if body_status == 0 %}
        <body class="">
        {% include 'company/company_info_popup.html' %}
        <div class="ji-glass-pane"></div>
        <div class="ji-popup whole_div">

    {% else %}
        <body>
    {% endif %}

{% endblock %}
{% block body_content %}


<div class="clearfix"></div>
    <section id="company">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-2">

                    <h3>
                        Dashboard
                    </h3>

                </div>
                <div class="col-md-10">
                    <div class="cp_nav">
                        <ul>
                            <li><a href="{% url 'job_advertisement' %}">Create Job Ad</a></li>
                            <li><a href="{% url 'test_template' %}">Evaluation Test</a></li>
                            <li><a href="{% url 'posted_jobs' %}">Posted Jobs</a></li>
                            <li><a href="{% url 'favorite' %}">Favorite CV</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    {% block company_dash %}#}

{#    {% endblock %}#}

    <section id="has_user">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="col-md-3">
                        <div class="box_has_user">
                            <h2 class="h0_child">
                                Jobs Posted
                            </h2>
                            <h4>
                                {{ posted_jobs }}
                            </h4>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box_has_user">
                            <h2 class="h3_child">
                                Total Applicants
                            </h2>
                            <h4>
                                {{ total_applications }}
                            </h4>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="box_has_user">
                            <h2 class="h1_child">
                                Shortlisted People
                            </h2>
                            <h4>
                                {{ total_shortlisted }}
                            </h4>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box_has_user">
                            <h2 class="h2_child">
                                Interviews Scheduled
                            </h2>
                            <h4>
                                {{ total_shortlisted_interview }}
                            </h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section id="jobs">
        <div class="container">
            <div class="col-md-8 nopad-lr">
                <div class="col-md-12 company_job_box">
                    <h3>
                        Latest Jobs
                    </h3>
                    <div class="clearfix"></div>
                        <table width="100%;">
                            <thead>
                                <th>
                                    Job Title
                                </th>
                                <th>
                                    Total
                                </th>
                                <th>
                                    New
                                </th>
                                <th>
                                    Status
                                </th>

                            </thead>
                        </table>
                    {% if job_details %}
                        {% for job in job_details %}
                            <div class="my_job_box">
                                <div class="job_list">
                                    <h5>{{ job.job_title }}</h5>
                                </div>
                                <div class="job_status">
                                    {% if job.job_approval_status == 0 %}
                                            <span class="is_pending posted_job_status">Pending</span>
                                        {% elif job.job_approval_status == 2 %}
                                            <span class="is_rejected posted_job_status">Rejected</span>
                                        {% else %}
                                            <span class="is_approved posted_job_status">Approved</span>
                                    {% endif %}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <span class="empty_data">
                            There are no jobs advertisement created yet.
                        </span>
                    {% endif %}

                    <div class="clearfix"></div>
    {#                ending job here#}
                </div>

                <div class="col-md-12 company_job_box">
                     {% csrf_token %}
                    <div class="schedule_interviews_homepage">
                        <div class="col-md-6 nopad-lr">
                            Scheduled Interviews
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-8">
                                <input data-date-autoclose="true" value=""  placeholder="Select Your Date"  type="text" class="form-control schedule_interviews_date">
                            </div>
                            <div class="col-md-4">
                                <a href="javascript:;" class="apply_btn schedule_interview_btn">Search</a>
                            </div>

                        </div>
                            <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                        <table width="100%;">
                            <thead>
                                <th style="width:40% !important;">
                                    Job Title
                                </th>
                                <th style="width: 28% !important;">
                                    Date
                                </th>
                                <th>
                                    Candidate Name
                                </th>

                            </thead>
                        </table>
                        <div class="my_job_box schedule_interviews_date_data">
                        {% if total_schedule %}
                            {% for schedule in total_schedule %}
                            <div class="job_list schedule_interview_name">
                                <h5>{{ schedule}}</h5>
                            </div>
                            <div class="job_status">
                                <span >{{ schedule.shortlisted_date}}</span>
                            </div>
                                <div class="job_status">
                                    <span >{{ schedule.user.first_name }}</span>
                                </div>

                            <div class="clearfix"></div>
                            {% endfor %}
                        {% else %}
                                <span class="empty_data">
                                    There is no job advertisement has been created yet.
                                </span>
                                <div class="clearfix"></div>
                        {% endif %}
                        </div>
    {#                ending job here#}
                </div>
            </div>
            <div class="col-md-4 nopad-lr">
                <div class="col-md-12 view_message">
                     <h3>
                        View Notifications
                    </h3>
                    <div class="notifications">
                            <span class="empty_data">
                                No Notifications For You!
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block custom_scripts %}
    <script>
        $('.schedule_interviews_date').datepicker({
            showClose: true,
            autoclose: true,
            todayHighlight:'TRUE',
            keepOpen: false,
            'format': 'yyyy-mm-dd',
            'autoclose': true,
        });
    </script>
{% endblock %}<
/div>