<h4>
                        General Settings
                    </h4>
                    <ul class="setting_main">
                        <li><a href="/company/profile/">Personal Information</a></li>
                        <li><a href="/company/changepassword/"  class="active">Change Password</a></li>
{#                        <li><a href="javascript:;">User CV</a></li>#}
                    </ul>
                     <h4>
                        Company Settings
                    </h4>
                    <ul class="setting_main">
                        <li><a href="/company/list/">List All Companies</a></li>
                        <li><a href="/company/add_company/">Add Another Companies</a></li>

                    </ul>