{% extends "base_dasboard.html" %}

{#{% extends 'company_core.html' %}#}
    <title>{% block title %}Dashboard{% endblock %}</title>
{% if user.is_authenticated %}

    {% block authenticate_user %} {{ user.first_name|slice:":1" }}{{ user.last_name|slice:":1" }}{%  endblock %}

{% endif %}
{% block header_company_nav %}
    <a href="/company/profile/">Account Settings</a>
    <a href="/accounts/logout/">Logout</a>
{% endblock %}
{% block body_content %}

    <div class="notify_message">
        <h4>
            <span>

            </span>
        </h4>
    </div>

<div class="clearfix"></div>
    <section id="company">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-2">

                    <h3>
                       Posted Jobs
                    </h3>

                </div>
                <div class="col-md-10">
                    <div class="cp_nav">
                        <ul>
                            <li><a href="{% url 'job_advertisement' %}">Create Job Ad</a></li>
                            <li><a href="{% url 'test_template' %}">Evaluation Test</a></li>
                            <li><a href="{% url 'posted_jobs' %}">Posted Jobs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="posted_jobs">
        <div class="container">
        <div class="col-md-12">
            <div class="message_details">

            </div>
        </div>
                <div class="col-md-12 posted_view_normal nopad-lr">
                    <div class="posted_jobs_box">
                        <div class="posted_ad_head">
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            Job Title
                                        </th>
                                        <th>
                                            Applicants
                                        </th>
                                        <th>
                                            Posted
                                        </th>
                                        <th>
                                            Job Type
                                        </th>
                                        <th>
                                            Job Status
                                        </th>
                                        <th>
                                            Actions
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                            {% csrf_token %}
                                {% for job in posted_jobs %}

                                <tr class="posted_job_remove_{{ job.id }}">
                                    <td>
                                        <h5>{{ job.job_title }}</h5>
                                        <div class="clearfix"></div>
                                        <span class="location_info"><i class="fa fa-location-arrow"></i>{{ job.country }}, {{ job.cities }}</span>
                                    </td>

                                    <td>
                                            {{ job.total_applied }}
                                    </td>

                                    <td>
                                        {{ job.submission_date }}

                                    </td>
                                    <td>
                                            {{ job.category }}
                                    </td>
                                    <td>
                                        {% if job.job_approval_status == 0 %}
                                            <span class="is_pending posted_job_status">Pending</span>
                                        {% elif job.job_approval_status == 2 %}
                                            <span class="is_rejected posted_job_status">Rejected</span>
                                        {% elif job.job_approval_status == 3 %}
                                            <span class="is_paused posted_job_status">Paused</span>
                                        {% else %}
                                            <span class="is_approved posted_job_status">Approved</span>
                                        {% endif %}
                                    </td>
                                    <td>


                                        <div class="btn_posted_jobs">
                                            <a value="{{ job.id }}" class="action_posted_job" href="javascript:;">Actions</a>

                                        </div>
                                        <ul class="dropdown_menu_actions menu_id_{{ job.id }}">
                                                <li>
                                                    <a href="{%  url 'job_advertisement_edit' job.id %}" >Edit Job Details</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'applied_candidates' job.id %}">Applied Candidates</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'shortlisted_candidates' job.id %}">Shortlisted Candidates</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'analytics_view' job.id%}">View Analytics</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="delete_job_menu" value="{{ job.id }}">Delete Job</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="pause_job_menu" value="{{ job.id }}">Pause Job</a>
                                                </li>
                                                <div class="clearfix"></div>
                                        </ul>
                                    </td>

                                </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
{#            </div>/#}
        </div>

    </section>

{% endblock %}
