{% extends "base_dasboard.html" %}

{#{% extends 'company_core.html' %}#}
    <title>{% block title %}Dashboard{% endblock %}</title>
{% if user.is_authenticated %}

    {% block authenticate_user %} {{ user.first_name|slice:":1" }} {{ user.last_name|slice:":1" }}{%  endblock %}

{% endif %}


{% block body_content %}


<div class="clearfix"></div>
    <section id="company">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-5">

                    <h1>
                        Dashboard
                    </h1>

                </div>
                <div class="col-md-7">
                    <div class="cp_nav">
                        <ul>
                            <li><a href="">Posted Jobs</a></li>
                            <li><a href="">Shortlisted People</a></li>
                            <li><a href="">Favorite CV</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="posted_jobs">
        <div class="container">
        <div class="col-md-12">
            <div class="message_details">

            </div>
        </div>
                <div class="col-md-12 posted_view_normal nopad-lr">
                    <div class="posted_jobs_box">
                        <div class="posted_ad_head">
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            Job Title
                                        </th>
                                        <th>
                                            Applicants
                                        </th>
                                        <th>
                                            Posted
                                        </th>
                                        <th>
                                            Job Type
                                        </th>
                                        <th>
                                            Actions
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                            {% csrf_token %}
                                {% for job in posted_jobs %}

                                <tr>
                                    <td>
                                        <h5>{{ job.job_title }}</h5>
                                        <div class="clearfix"></div>
                                        <span class="location_info"><i class="fa fa-location-arrow"></i>{{ job.country }}, {{ job.cities }}</span>
                                    </td>

                                    <td>
                                            77
                                    </td>

                                    <td>
                                        {{ job.submission_date }}

                                    </td>
                                    <td>
                                            {{ job.category }}
                                    </td>

                                    <td>


                                        <div class="btn_posted_jobs">
                                            <a value="{{ job.id }}" class="action_posted_job" href="javascript:;">Actions</a>

                                        </div>
                                        <ul class="dropdown_menu_actions menu_id_{{ job.id }}">
                                                <li>
                                                    <a href="">View Job Details</a>
                                                </li>
                                                <li>
                                                    <a href="">View Analytics</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="delete_job_menu" value="{{ job.id }}">Delete Job</a>
                                                </li>
                                                <li>
                                                    <a href="">Pause Job</a>
                                                </li>
                                                <li>
                                                    <a href="">Clone Job</a>
                                                </li>
                                                <div class="clearfix"></div>
                                        </ul>
                                    </td>

                                </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
{#            </div>/#}
        </div>

    </section>



<a href="/accounts/logout">Log out</a>
{% endblock %}
