{% extends "base_admin.html" %}
<title>{% block title %}Admin Dashboard{% endblock %}</title>



{% block body_content %}

    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="col-md-12">
                <input type="hidden" name="category_value">
                <br>
                <input type="text" class="form-control" name="skill_value" id="">
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
    <div class="col-md-12">



    {% if count_category < 20 %}
        <h2>
        Add Category
        </h2>
        <form method="post" id="add_category_admin" action="" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="col-md-4">
                {{ add_category.category_image.label }}{{add_category.category_image}}
            </div>
            <div class="col-md-4">
                {{add_category.category_status}}
            </div>
            <div class="col-md-4">
                {{add_category.category_name}}
            </div>
            <input type="submit">
        </form>
    {% endif %}

    <div class="clearfix"></div>
        <br>
        <br><br>
    <div class="display_message"></div>
    <table width="100%;">
        <thead class="categories_head">
        <tr>
            <td>Category Name</td>
            <td>Category Status</td>
            <td>Edit</td>
            <td>Enable/Disable</td>
            <td>Delete</td>
            <td>Add Skill</td>
            <td>Details</td>

        </tr>
        </thead>
        <tbody class="categories_table">
        {% csrf_token %}

        {% for catvalue in catlist %}

            <tr>
                <td>
                    {{catvalue.category_name}}
                </td>
                <td>
                    {{catvalue.category_status}}
                </td>
                <td>
                    <a class="edit_cat_btn" href="{% url 'cat_view' %}edit/{{catvalue.id}}" value="{{catvalue.id}}">Edit</a>
                </td>

                {% if catvalue.category_status == 0 %}
                <td>
                    <a class="enable_cat_btn" href="javascript:;" value="{{catvalue.id}}">Enable</a>
                </td>
                {% else %}
                <td>
                    <a class="disable_cat_btn" href="javascript:;" value="{{catvalue.id}}">Disable</a>
                </td>
                {% endif %}

                <td>
                    <a class="delete_cat_btn" href="javascript:;" value="{{catvalue.id}}">Delete</a>
                </td>

                <td>
                    <a class="add_category_skill" data-toggle="modal" data-target="#myModal" href="javascript:;" value="{{catvalue.id}}">Add Skill</a>
                </td>
                <td>
                    <a class="details_cat_btn" href="javascript:;" value="{{catvalue.id}}">Details</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
    <!--{% if count_category %}-->
        <!--this is aesome-->
    <!--{% endif %}-->
</div>
</div>



{% endblock %}

</body>
</html>