{% extends "base_admin.html" %}
<title>{% block title %}Admin Dashboard{% endblock %}</title>



{% block body_content %}














    <!-- Modal -->
<div class = "modal fade" id = "myModal" tabindex = "-1" role = "dialog"
   aria-labelledby = "myModalLabel" aria-hidden = "true">

   <div class = "modal-dialog modal-md">
      <div class = "modal-content">

         <div class = "modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Skill</h4>
         </div>

         <div class = "modal-body">
                  <div class="info">

                  </div>
                <div class="container">
                    <div class="col-md-12">
                        {% csrf_token %}
                        {{ edu.education_name }}
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary add_edu_type">Save changes</button>
              </div>
        </form>
    </div>
  </div>
</div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Education Type</h4>
              </div>
                <form action="" id="edit_edu_type_form">
                      <div class="modal-body">
                          <div class="info">

                          </div>
                        <div class="container">
                            <div class="col-md-4">
                                {% csrf_token %}
                                <input type="hidden" name="status" value="1">
                                <input type="hidden" name="education_id" class="education_id_value">
                                <input type="text" style="width:500px;" name="edit_education_name" class="form-control e_e_name">
                            </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary edit_edu_type_btn">Save changes</button>
                      </div>
                </form>
            </div>
          </div>
</div>

    <div class="container">
        <div class="col-md-12">
            <input type="button" data-toggle="modal" data-target="#myModal"  value="Add Education Type" >
        </div>
    </div>


<div class="container" style="z-index:0 !important;">
    <div class="row">
    <div class="col-md-8">
    <div class="display_message"></div>
    <table width="100%;" style="z-index:0 !important;">
        <thead class="categories_head">
        <tr>
            <td>Education Name</td>
            <td>Education Status</td>
            <td colspan="3">Actions</td>


        </tr>
        </thead>
        <tbody class="categories_table">
        {% csrf_token %}

        {% for edu_val in edu_list %}

            <tr>
                <td>
                    {{edu_val.education_name}}
                </td>
                <td>
                    {% if edu_val.education_status == True %}
                        Active
                        {% else %}
                        InActive

                    {% endif %}

                </td>
                <td>
                    <a class="e_edit_btn" data-toggle="modal" data-target="#editModal" href="javascript:;" value="{{edu_val.id}}">Edit</a>
                </td>

                {% if edu_val.education_status == 0 %}
                <td>
                    <a class="enable_edu_type_btn" href="javascript:;" value="{{edu_val.id}}">Enable</a>
                </td>
                {% else %}
                <td>
                    <a class="disable_edu_type_btn" href="javascript:;" value="{{edu_val.id}}">Disable</a>
                </td>
                {% endif %}

                <td>
                    <a class="delete_edu_btn" href="javascript:;" value="{{edu_val.id}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
    <!--{% if count_category %}-->
        <!--this is aesome-->
    <!--{% endif %}-->
</div>
</div>



{% endblock %}

</body>
</html>