{% extends "base_admin.html" %}
<title>{% block title %}Admin Dashboard{% endblock %}</title>



{% block body_content %}
     <form class='search form-inline'>
         {% csrf_token %}
         <input type="text" class="form-control" id="searchbox" placeholder="Search..." required>
         <input type="button" id="search" value="Search" class="btn btn-info btn-sm form-control">
          <button type="button" id="add_button" class="btn btn-info btn-sm form-control" data-toggle="modal" data-target="#addmodal" type="button">Add User</button>
    </form>
    <form class='buttonset form-inline'>
          {% csrf_token %}
          <button type="button" id="something123" class="btn btn-info btn-sm form-control" type="button" onclick="location.href='{{ BASE_URL }}/private/members/users/allusers/';">All Users</button>
          <button type="button" id="active123" class="btn btn-info btn-sm form-control" type="button" onclick="location.href='{{ BASE_URL }}/private/members/users/activeusers/';">Active users</button>
          <button type="button" id="disable" class="btn btn-info btn-sm form-control" type="button" onclick="location.href='{{ BASE_URL }}/private/members/users/edit_profile/nonactiveusers/';">Disable Users</button>
          <button type="button" id="companynew" class="btn btn-info btn-sm form-control" type="button" onclick="location.href='{{ BASE_URL }}/private/members/users/edit_profile/companyfilter/';">Company</button>
          <button type="button" id="job_seeker" class="btn btn-info btn-sm form-control" type="button" onclick="location.href='{{ BASE_URL }}/private/members/users/edit_profile/job_seekerfilter/';">Job Seeker</button>
    </form>
         <div class="message_error">

          <h5 class="err"></h5>


          </div>







    <div id="container">


   <div id="container">



  </div>

{% include "maintable.html" %}


</div>
{#<div class="modal fade" id="myModal" role="dialog">#}
{#    <div class="modal-dialog modal-lg">#}
{##}
{#      <!-- Modal content-->#}
{#      <div class="modal-content">#}
{#        <div class="modal-header">#}
{#          <button type="button" class="close" data-dismiss="modal" class="close_re">&times;</button>#}
{#          <h4 class="modal-title"></h4>#}
{#        </div>#}
{#        <div class="modal-body">#}
{##}
{#            <!--form starting from here-->#}
{##}
{#            <form class="form-horizontal" role="form" id="update_form" method="post">#}
{##}
{##}
{#                {% csrf_token %}#}
{##}
{##}
{#      <div class="form-group">#}
{#      <label class="control-label col-sm-2" for="pwd">Name</label>#}
{#      <div class="col-sm-10">#}
{#        <input type="text" class="form-control" id="n1" placeholder="Enter First Name">#}
{#      </div>#}
{#    </div>#}
{##}
{##}
{##}
{#      <div class="form-group">#}
{#      <label class="control-label col-sm-2" for="pwd">Last Name</label>#}
{#      <div class="col-sm-10">#}
{#        <input type="text" class="form-control" id="l1" placeholder=" Enter Last Name">#}
{#      </div>#}
{#    </div>#}
{##}
{##}
{#      <div class="form-group">#}
{#      <label class="control-label col-sm-2" for="email">Email:</label>#}
{#      <div class="col-sm-10">#}
{#        <input type="email" class="form-control" id="e1" placeholder="Enter email">#}
{#      </div>#}
{#    </div>#}
{##}
{#      <div class="form-group">#}
{#      <label class="control-label col-sm-2" for="pwd">Username</label>#}
{#      <div class="col-sm-10">#}
{#        <input type="text" class="form-control" id="u1" placeholder="Enter Username">#}
{#      </div>#}
{#    </div>#}
{##}
{#    <div class="form-group">#}
{#        <label class="control-label col-sm-2">Account Status</label>#}
{#        <div class="col-xs-5 selectContainer">#}
{#            <select class="form-control" name="size" id="combo1">#}
{#                <option value="1">Active</option>#}
{#                <option value="0">Disable</option>#}
{##}
{#            </select>#}
{#        </div>#}
{#    </div>#}
{##}
{##}
{#                <div class="form-group">#}
{#        <label class="control-label col-sm-2">Super User</label>#}
{#        <div class="col-xs-5 selectContainer">#}
{#            <select class="form-control" name="size" id="combo10" class="selectionsu">#}
{#                <option value="1">Yes</option>#}
{#                <option value="0">No</option>#}
{##}
{#            </select>#}
{#        </div>#}
{#    </div>#}
{##}
{##}
{##}
{#                 <div class="form-group">#}
{#        <label class="control-label col-sm-2">Staff</label>#}
{#        <div class="col-xs-5 selectContainer">#}
{#            <select class="form-control" name="size" id="combo11" class="selectionsta">#}
{#                <option value="1">Yes</option>#}
{#                <option value="0">No</option>#}
{##}
{#            </select>#}
{#        </div>#}
{#    </div>#}
{#                <div class="form-group">#}
{#            <div class="col-sm-offset-2 col-sm-10">#}
{#            <button type="submit" class="btn btn-default">Update</button>#}
{#            </div>#}
{#             </div>#}
{##}
{##}
{##}
{#            </form>#}
{##}
{#<div class="wrapper">#}
{#        <div class="modal-footer">#}
{##}
{##}
{#            <div class="col-sm-offset-2 col-sm-10">#}
{#                <h5 class="message_display"></h5>#}
{#               <button type="button" class="btn btn-default" data-dismiss="modal" class="close_re">Close</button>#}
{#            </div>#}
{#        </div>#}
{#</div>#}
{##}
{#        </div>#}
{#      </div>#}
{#        </div>#}
{#          </div>#}


         <div class="col-sm-offset-2 col-sm-10">



            </div>





{#    <div class="modal fade" id="addmodal" role="dialog">#}
{#   <div class="modal-dialog modal-lg">#}
{##}
{#      <!-- Modal content-->#}
{#      <div class="modal-content">#}
{#        <div class="modal-header">#}
{#          <button type="button" class="close" data-dismiss="modal" id="close_re">&times;</button>#}
{#          <h4 class="modal-title">Add User</h4>#}
{#        </div>#}
{#        <div class="modal-body">#}
{##}
{#            <!--form starting from here-->#}
{##}
{#            <form class="form-horizontal" role="form" id="add_form" method="post">#}
{##}
{#                {% csrf_token %}#}
{##}
{##}
{#      <div class="form-group">#}
{#      <label class="control-label col-sm-2" for="pwd">Name</label>#}
{#      <div class="col-sm-10">#}
{#        <input type="text" class="form-control" id="n11" placeholder="Enter First Name">#}
{#      </div>#}
{#    </div>#}
{##}
{##}
{##}
{#      <div class="form-group">#}
{#      <label class="control-label col-sm-2" for="pwd">Last Name</label>#}
{#      <div class="col-sm-10">#}
{#        <input type="text" class="form-control" id="l11" placeholder=" Enter Last Name">#}
{#      </div>#}
{#    </div>#}
{##}
{##}
{#      <div class="form-group">#}
{#      <label class="control-label col-sm-2" for="email">Email:</label>#}
{#      <div class="col-sm-10">#}
{#        <input type="email" class="form-control" id="e11" placeholder="Enter email">#}
{#      </div>#}
{#    </div>#}
{##}
{#      <div class="form-group">#}
{#      <label class="control-label col-sm-2" for="pwd">Username</label>#}
{#      <div class="col-sm-10">#}
{#        <input type="text" class="form-control" id="u11" placeholder="Enter Username">#}
{#      </div>#}
{#    </div>#}
{##}
{#                <div class="form-group">#}
{#            <div class="col-sm-offset-2 col-sm-10">#}
{##}
{#            <button type="submit" class="btn btn-default">Add</button>#}
{#            </div>#}
{#             </div>#}
{##}
{##}
{##}
{#            </form>#}
{#        <div class="wrapper">#}
{#                <div class="modal-footer">#}
{#                    <div class="col-sm-offset-2 col-sm-10">#}
{#                        <h5 class="message_display_add"></h5>#}
{#                       <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>#}
{#                    </div>#}
{#                </div>#}
{#        </div>#}
{##}
{#        </div>#}
{#      </div>#}
{#        </div>#}
{#          </div>#}



{% endblock %}

    </body>
</html>