{% extends "base_dasboard.html" %}
    <title>{% block title %}Dashboard{% endblock %}</title>
        {% if user.is_authenticated %}
            {% block authenticate_user %} {{ user.first_name|slice:":1" }}{{ user.last_name|slice:":1" }}{%  endblock %}
        {% endif %}
{% block body_content %}
    {% csrf_token %}
    <section id="company">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-4">

                    <h3>
                        Job > <span style="color:#8949aa;">Search Jobs</span>
                    </h3>
                
                </div>
                <div class="col-md-8" style="padding-right:0px !important;">
                    <div class="search_filters_header">
                        <div class="col-md-8">
                            <input type="text" placeholder="Search Job Title" name="search_keyword" class="search_keyword form-control" id="search_keyword">
                        </div>
                        <div class="col-md-4"  style="padding-right:0px !important;">
                            <input type="submit" name="search_button" class="search_button form-control" id="search_button">
                        </div>

                        <!-- <ul>
                            <li><a href="{% url 'job_advertisement' %}">Create Advertisement</a></li>
                            <li><a href="{% url 'test_template' %}">Evaluation Test</a></li>
                            <li><a href="{% url 'posted_jobs' %}">Posted Jobs</a></li>
                            <li><a href="{% url 'favorite' %}">Favorite CV</a></li>
                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section id="job_advertisement" ng-app="filtersapp">
        <div class="container jobs_search" ng-controller="rootCtrl">
            <div ng-controller="leftfilters">
                <div class="col-md-3 jobsearch_left_filter" >
                    <h3 class="job_expand_main">
                        Categories
                    </h3>
                    <ul>
                        <a class="job_expand_data" href="javascript:;" ng-click="isCategories();">Expand</a>
                       <div class="" ng-if="is_categories!=false">
                            <li ng-repeat="cat in categories">
                               <input ng-change="categoriesInsert(cat.pk)" ng-model="categoriesID[cat.pk]" type="checkbox" id="category<<cat.pk>>">
                               <label for="category<<cat.pk>>"><< cat.fields.category_name >></label>
                           </li>
                        </div>
                        {#employment filters#}
                    </ul>
                    <h3 class="job_expand_main">
                        Employment Type
                    </h3>
                    <ul>
                        <a class="job_expand_data" href="javascript:;" ng-click="isEmployment();">Expand</a>

                        <div ng-if="is_employment!=false">
                            <li ng-repeat="emp in employment">
                                   <input ng-change="employmentInsert(emp.pk)" ng-model="employmentID[emp.pk]" type="checkbox" id="employment<<emp.pk>>">
                                   <label for="employment<<emp.pk>>"><< emp.fields.employment_name >></label>
                            </li>
                        </div>
                        {#education filters#}
                    </ul>
                    <h3 class="job_expand_main">Education Type</h3>
                    <ul>

                        <a class="job_expand_data" href="javascript:;" ng-click="isEducation();">Expand</a>
                        <div ng-if="is_education!=false">

                        <li ng-repeat="edu in education">
                               <input ng-change="educationInsert(edu.pk)" ng-model="educationID[edu.pk]" type="checkbox" id="education<<edu.pk>>">
                               <label for="education<<edu.pk>>"><< edu.fields.education_name>></label>
                           </li>

                        </div>

                        {#experience filters#}

                    </ul>
                    <h3 class="job_expand_main">
                        Experience Type
                    </h3>
                    <ul>

                        <a class="job_expand_data" href="javascript:;" ng-click="isExperience();">Expand</a>
                        <div ng-if="is_experience!=false">
                        <li ng-repeat="exp in experience">
                               <input ng-change="experienceInsert(exp.pk)" ng-model="experienceID[exp.pk]" type="checkbox" id="experience<<exp.pk>>">
                               <label for="experience<<edu.pk>>"><< exp.fields.experience_name>></label>
                           </li>

                        </div>
                    </ul>
                </div>
            </div>
            <div id="jobs" class="col-md-9 job_view jobsearch_right_filter">

                        <div class="clearfix"></div>



                {% for job_detail in data %}


                        <div class="listed_job">
                            <div class="col-md-2">
                                <div class="pub_date">
                                    <span class=" p0_child">
                                    {{ job_detail.submission_date|date:"D d" }}
{#                                        <div>{{ job_detail.submission_date|date:"M Y" }}</div>#}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h4>
                                    {{ job_detail.company }}
                                    <span class="job_location">{{ job_detail.country }}</span>
                                    <span class="job_location_bg">{{ job_detail.cities }}</span>
                                    <span class="job_category">
                                        {{ job_detail.category }}
                                    </span>
                                </h4>
                                <h1>{{ job_detail.job_title }}</h1>
                                <p>{{ job_detail.job_description|striptags|safe|truncatewords:15 }}</p>

                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-3">
{#                                <div class="preview_btn">#}
{##}
{#                                    <a href="{% url 'job_details' job_detail.id %}">#}
{#                                        View Job Details#}
{#                                    </a>#}
{#                                </div>#}
                                <div class="apply_btn">
                                    {% if user_status == 0 %}
                                    <a href="{% url 'job_details' job_detail.id %}">
                                         View Job Details
                                    </a>
                                    {% else %}
                                        {% if company_status == 1 %}
                                        <a href="{% url 'job_details' job_detail.id %}">
                                             View Job Details
                                        </a>
                                        {% else %}
                                            <a href="{% url 'register_account' %}">
                                            Sign up
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>



                {% endfor %}
                    <div class="pagination" ng-controller="paginationCtrl">
                                        <span class="step-links">
                                             {% if data.has_previous %}
                                                {% if filtered_results == 1 %}
                                                    <a href="javascript:;" ng-click="getResults({{ data.previous_page_number }})">Previous</a>
                                                {% else %}
                                                    <a href="javascript:;" ng-click="getFilteredPaginate({{ data.previous_page_number }})">Previous</a>

                                                {% endif %}
                                                {% endif %}
                                            <span class="current">
                                                Page {{ data.number }} of {{ data.paginator.num_pages }}.
                                            </span>

                                            {% if data.has_next %}
{#                                                <a href="?page={{ data.next_page_number}}">Next</a>#}
                                                <a href="javascript:;" ng-click="getResults({{ data.next_page_number }})">next</a>
                                            {% endif %}
                                        </span>
                                    </div>

                        </div>
            </div>

    </section>
{% endblock %}
{% block custom_scripts %}
    <script src="/assets/js/app/angular.min.js"></script>
    <script src="/assets/js/app/app.js"></script>

{% endblock %}