{#            <div id="jobs" class="col-md-9 job_view jobsearch_right_filter">#}
                        <div class="clearfix"></div>
                {% for job_detail in data %}


                        <div class="listed_job">
                            <div class="col-md-2">
                                <div class="pub_date">
                                    <span class=" p0_child">
                                    {{ job_detail.submission_date|date:"D d" }}
{#                                        <div>{{ job_detail.submission_date|date:"M Y" }}</div>#}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h4>
                                    {{ job_detail.company }}
                                    <span class="job_location">{{ job_detail.country }}</span>
                                    <span class="job_location_bg">{{ job_detail.cities }}</span>
                                    <span class="job_category">
                                        {{ job_detail.category }}
                                    </span>
                                </h4>
                                <h1>{{ job_detail.job_title }}</h1>
                                <p>{{ job_detail.job_description|safe|truncatewords:15 }}</p>

                            </div>
                            <div class="col-md-3">
{#                                <div class="preview_btn">#}
{#                                    <a href="{% url 'job_details' job_detail.id %}">#}
{#                                        View Job Details#}
{#                                    </a>#}
{##}
{#                                </div>#}
                                <div class="apply_btn">
                                    {% if user_status == 0 %}
                                    <a href="{% url 'job_details' job_detail.id %}">
                                         View Job Details
                                    </a>
                                    {% else %}
                                        {% if company_status == 1 %}
                                        <a href="{% url 'job_details' job_detail.id %}">
                                             View Job Details
                                        </a>
                                        {% else %}
                                            <a href="{% url 'register_account' %}">
                                            Sign up
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>



                {% endfor %}
                    <div class="pagination" ng-controller="paginationCtrl">
                                        <span class="step-links">
                                            {% if data.has_previous %}
                                                {% if filtered_results == 1 %}
{#                                                    <a href="javascript:;" ng-click="getResults({{ data.previous_page_number }})">Previous</a>#}
                                                    <a href="javascript:;" onclick="getResults({{ data.previous_page_number }})">Previous</a>
                                                {% else %}
                                                    <a href="javascript:;" onclick="getResults({{ data.previous_page_number }})">Previous</a>
{#                                                    <a href="javascript:;" ng-click="getResults({{ data.previous_page_number }})">Previous</a>#}

                                                {% endif %}
                                            {% endif %}

                                            <span class="current">
                                                Page {{ data.number }} of {{ data.paginator.num_pages }}.
                                            </span>

                                            {% if data.has_next %}
                                                {% if filtered_results == 1 %}
                                                    <a href="javascript:;" onclick="getResults({{ data.next_page_number }})">Next</a>
{#                                                    <a href="javascript:;" ng-click="getResults({{ data.next_page_number }})">Next</a>#}
                                                {% else %}
                                                    <a href="javascript:;" onclick="getResults({{ data.next_page_number }})">Next</a>
{#                                                    <a href="javascript:;" ng-click="getResults({{ data.next_page_number }})">Next</a>#}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                    </div>

                        </div>
{#            </div>#}

    </section>

