{% extends "base_dasboard.html" %}


<title>{% block title %}Confirm Your Account{% endblock %}</title>
{% if user.is_authenticated %}

        {% block authenticate_user %}
            {{ user.first_name|slice:":1" }}{{ user.last_name|slice:":1" }},
        {% endblock %}
    {% endif %}
{% block body_content %}
{#<section class="c_email">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-12">#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}


    <div class="clearfix"></div>
    <div class="container guider_steps">
        <div class="col-md-4 col-md-offset-5 col-lg-4 col-lg-offset-5">
            <div class="guider">
                <ul class="guider_list">
                    <li class="guider_active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="core_content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
                    <div class="email_box">
                            <span class="status_msg"></span>

                            <h3>Hi {{ user.first_name }}, Verify Your Email Account</h3>
                                <br>
                            <p>
                                A verification link has been emailed to ({{ user.email }}) when you first created the account.
                                Please click that link to verify your email address. If you can not find this email then check your spam folder for it..
                                <br><br>
                                However, you can request a new confirmation email again from clicking below button.
                                <br><br>
                                <div class="resend_c0_email">
                                    {% csrf_token %}
                                    <a href="" class="btn c0_email_btn">Send verification email to {{ user.email }}</a>
                                </div>
                            </p>
                    </div>

                </div>
            </div>
        </div>

    </section>


{% endblock %}