{% extends "base.html" %}
<title>{% block title %}Forgot Password {% endblock %}</title>

 {% block headline_title %}
        Forgot Your Password
    {% endblock %}
{% block sub_head_title %}{% endblock %}

{% block body_content %}
    <div class="col-md-4 col-sm-12 col-md-offset-4  login_f0">

        <form id="forgot_form" method="post"  >

            {% csrf_token %}
            <div class="col-md-12">
                <label class="l0_form" >
                    <span class="error_message"></span>
                </label>
                <label class="l0_form" >
                    <span class="success"></span>
                </label>
            </div>
            <div class="col-md-12">
                    {{forgotpassword.email}}
            </div>
            <div class="col-md-12 r0_acct">
                <input type="submit" class="btn r0_acct_btn" name="submit" value="Forgot Password" />
            </div>
        </form>

     <div class="clearfix"></div>
    <div class="col-md-7"><label class="inner_links left" for="">Don't have an account? <a class="inner_a" href="{% url 'register_account' %}">Sign up</a></label></div>
    <div class="col-md-5"><label class="inner_links right" for=""><a  class="inner_a" href="{% url 'login_account' %}">Login account?</a></label></div>



    </div>
<div class="clearfix"></div>
{% include 'footer.html' %}

{% endblock %}


</body>
</html>