{% extends "base.html" %}
<title>{% block title %}Forgot Password {% endblock %}</title>
{%  block headline_title %}
    Set Your New Password
{% endblock %}
{% block body_content %}
    <div class="col-md-4 col-sm-12 col-md-offset-4  register_form">

<form id="set_password" class="set_p0" method="post"  >

    {% csrf_token %}
    <div class="col-md-12">
        <label class="l0_form" >

            <span class="error_message"></span>
        </label>
        <label class="l0_form" >
                <span class="success"></span></label>
        </div>
         <div class="col-md-12">
            {{setpassword.email}}
        </div>
        <div class="col-md-12">
            {{setpassword.password}}
        </div>

        <div class="col-md-12 r0_acct">
            <input type="submit"  class="btn r0_acct_btn" name="submit" value="Set New Password" />
        </div>

</form>
    <div class="clearfix"></div>
    <div class="col-md-7"><label class="inner_links left" for="">Have an account? <a class="inner_a" href="{% url 'login_account' %}">Login Now</a></label></div>
    <div class="col-md-5"><label class="inner_links right" for=""><a  class="inner_a" href="{% url 'forgot_password' %}">Forgot Password?</a></label></div>
</div>

{% endblock %}


</body>
</html>